 <h1>Advice to Drivers </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO TWO-WHEELER RAIDERS</span></strong><br>                                <br> <strong><span style="color: #ff0000;">Take care - you are the most vulnerable on the  road. </span></strong><br>                                <br> Two wheelers occupy less road space, consume less fuel and hardly damage roads. All
                                plus points. But, unfortunately, there are many irresponsible two wheeler riders. For you
                                and for other road users, driving can be pleasant if the following rules observed.<br>
                                </span>
                            </p>
                            <ul>
                                <li><span style="line-height: 1.3em;">Stick to the left lane and leave the right lane to faster traffic.</span></li>
                                <li><span style="line-height: 1.3em;">Don't view through traffic stick to your lane.</span></li>
                                <li><span style="line-height: 1.3em;">Never over take on the left.</span></li>
                                <li><span style="line-height: 1.3em;">Wear a helmet for your safety</span></li>
                                <li><span style="line-height: 1.3em;">Don't push your way forward through any opening in the traffic at traffic  signals.</span></li>
                                <li><span style="line-height: 1.3em;">2 stroke engines are big polluters because of carbon monoxide emission. Keep  your engine tuned.</span></li>
                                <li><span style="line-height: 1.3em;">Do not over speed. The time you gave is negligible.</span></li>
                                <li><span style="line-height: 1.3em;">Do not use horn unnecessarily.</span><span style="line-height: 1.3em;"> </span></li>
                                <li><span style="line-height: 1.3em;">Remember you are vulnerable: in any collision you are more in danger than car  or bus.</span></li>
                            </ul>
                            <p></p>
                            <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO THREE WHEELER / FOUR WHEELER DRIVERS </span></strong><br>                                <br> <strong><span style="color: #ff0000;">Think of pedestrians and cyclists,  particularly in bad weather. </span></strong><br>                                <br> You are one of the privileged few who own cars in our country. It is a great convenience.
                                You can make driving a joy by observing a few simple rules when you are behind the wheel.<br>
                                </span>
                            </p>
                            <ul>
                                <li><span style="line-height: 1.3em;">Give way to traffic on your right at junctions. If everyone is jostling for  advantage, the results is a traffic mess out of which no one can get out</span></li>
                                <li><span style="line-height: 1.3em;">Do not use horns unnecessarily; use it only to avert danger. Noise level goes  up, driving becomes tiresome with hardly any difference to your progress</span></li>
                                <li><span style="line-height: 1.3em;">Do not over speed or jump traffic lights. The time that you gain is not worth  the risk to life and limb</span></li>
                                <li><span style="line-height: 1.3em;">Keep your vehicle in good condition. Exhaust fumes cause air pollution and  endanger health</span></li>
                                <li><span style="line-height: 1.3em;">Show courtesy and consideration to the less fortunate - the pedestrians, the  cyclists and two wheelers</span></li>
                            </ul>
                            <p></p>


                        </div>
                    </div>