 <h1> You are Observed </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <h3 style="text-align: justify; visibility: visible;"><span>Cameras</span> &amp; Blackberries to Check Offenders</h3>
                            <p style="text-align: justify;">In order to prevent the chaos on the roads stemming from citizens breaking traffic rules, Tumakuru
                                District Traffic Police has geared itself with technology that provides no escape to all
                                those breaking the law, be it speeding, crossing the red light, drunken driving, nonpayment
                                of fines imposed or for the matter non transfer of the ownership of registration of vehicles.</p>
                            <h3 style="text-align: justify; visibility: visible;"><span>WHAT</span> HAPPENS IF.....</h3>
                            <h4 style="text-align: justify;"><span style="color: #0000ff;">1. YOU DRINK AND DRIVE or SPEED</span></h4>
                            <p style="text-align: justify;">Tumakuru District Traffic Police have intensified their attack on all those who drink and drive.
                                If you test positive for drunken driving then your vehicle would be seized and you would
                                be required to come to court in person to pay your fines. Not only this, your offence would
                                be recorded at a Enforcement Automation Center and can be accessed at any time by the inspectors.
                                Remember that driving under the influence of liquor is a serious offence and can lead to
                                driver being imprisoned.</p>
                            <p style="text-align: justify;">The same is the case for those who are found driving over the speed limits set. If found to be
                                habitual offender the fines would not only increase but you stand to lose your driving license
                                too.
                            </p>
                            <h4 style="text-align: justify;"><span style="color: #0000ff;">2. YOU HAVE NOT TRANSFERRED OWNERSHIP OF YOUR VEHICLE</span></h4>
                            <p style="text-align: justify;">It is illegal to not transfer the ownership of the vehicle, either when you buy or sell it. If
                                the ownership transfer is not done on time, you could be the one being accused in case your
                                vehicle you sold is involved in a crime, an accident or even terrorist activities.</p>
                            <p style="text-align: justify;">You have 45 days to inform the concerned authorities of the transfer of ownership and get the
                                papers in order. It is the responsibilities of both the buyer and the seller to get the transfers
                                done.
                            </p>


                        </div>
                    </div>