<h1>Traffic Penalty Chart </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <div class="column dt-sc-three-fourth fbtheme">
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Two Wheeler</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Non-Transport Vehicle(White Board)</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Transport Vehicle (Yellow Board)</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Whoever drives a Vehicle or cause Vehicle to be driven at a speed exceeding the maximum speed fixed</span></td>
                                            <td><span style="font-size: small;">Section 112 read with sec.183(1) &amp; (2) of M.V. Act</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Racing &amp; trails of speed</span></td>
                                            <td><span style="font-size: small;">Section.189 of M.V. Act</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying excess passengers in 3 Wheeled Vehicle</span></td>
                                            <td><span style="font-size: small;">Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying excess passengers in Transport Vehicles including buses</span></td>
                                            <td><span style="font-size: small;">Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">100/- for every excess passenger</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Drunken Drive</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Parking</span></td>
                                            <td><span style="font-size: small;">Section 177 of M.V. Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Demanding Excess Fare&amp; refusal to come for hire etc., by Autoricksaw Driver or Taxi Driver</span></td>
                                            <td><span style="font-size: small;">Rule 13 (U) of the KMV Rules read with Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">First time 100/-, 2nd &amp; subsequent offences 300/-</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Fare Meter</span></td>
                                            <td><span style="font-size: small;">16 Class (K)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Silencer</span></td>
                                            <td><span style="font-size: small;">16 Class 120</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Emitting Black Somke</span></td>
                                            <td><span style="font-size: small;">190 Class (2)</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Shrill Horn</span></td>
                                            <td><span style="font-size: small;">190 Class (2)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Permit</span></td>
                                            <td><span style="font-size: small;">190 Class 192</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Two Wheeler</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Non-Transport Vehicle</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Transport Vehicle</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving a Motor Vehicle in any public place by an under aged person</span></td>
                                            <td><span style="font-size: small;">Sec.4 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Owner of a Motor Vehicle permitted any person to drive his/her Vehicle in contravention of section 3 or 4</span></td>
                                            <td><span style="font-size: small;">Sec.5 read with Sec.180 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">1000</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Jumping Traffic Signal</span></td>
                                            <td><span style="font-size: small;">Rule 119, read with section 177, M.V. Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking</span></td>
                                            <td><span style="font-size: small;">190 Class 117</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Cutting Yellow Lane / Lane Discipline</span></td>
                                            <td><span style="font-size: small;">190 Class 119</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Number Plate</span></td>
                                            <td><span style="font-size: small;">190 Class 50</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Entry</span></td>
                                            <td><span style="font-size: small;">190 Class 115</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">H.T.V.Prohibited</span></td>
                                            <td><span style="font-size: small;">115 R/w 177</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Uniform</span></td>
                                            <td><span style="font-size: small;">14 R/w 177</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without I.C.</span></td>
                                            <td><span style="font-size: small;">14 R/w 106</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without F.C.</span></td>
                                            <td><span style="font-size: small;">14 R/w 56</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Head Light</span></td>
                                            <td><span style="font-size: small;">14 R/w 106</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Tail Light</span></td>
                                            <td><span style="font-size: small;">14 R/w 250</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving any Motor Vehicle without number plate</span></td>
                                            <td><span style="font-size: small;">Rule 50 of the Central Motor Vehicle Rules read with section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">Firsttime 100/-, 2nd &amp; subsequent offences 300/-</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Footboard Traveling</span></td>
                                            <td><span style="font-size: small;">94 Class (2)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Gents Traveling Ladies Seat in BMTC / Local Transport Buses</span></td>
                                            <td><span style="font-size: small;">94 Class (4)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Holding / using Mobile Phone while Driving / riding a Vehicle</span></td>
                                            <td><span style="font-size: small;">Section 230(A) KMVR R/W Sec 177, I.M.V Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Not wearing Helmet to head while riding the Vehicle</span></td>
                                            <td><span style="font-size: small;">230 of the KMVR 1989 in sub rule (1)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Triple riding</span></td>
                                            <td><span style="font-size: small;">Section 128 (1), MV Act R/W sec 177 MV Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(2Wheeler)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(Car)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(HGV)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving without wearing Seat Belt</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4><span style="color: #ff0000; font-size: small; line-height: 1.3em;">KARNATAKA POLICE ACT &amp; KARNATAKA TRAFFIC ACT</span></h4>
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span style="font-size: small;">Footpath Vendor</span></td>
                                            <td><span style="font-size: small;">92 (G)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Stray Cattle</span></td>
                                            <td><span style="font-size: small;">92 (e)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Entry for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (b)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Light for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (a)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Jay Walker</span></td>
                                            <td><span style="font-size: small;">Rule 6, 18 K.T.C.Act</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>