<h1>Traffic Penalty Chart </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <div class="column dt-sc-three-fourth fbtheme">
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
																				<tr>
                                            <td><span style="font-size: small;">Drunken Driving</span></td>
                                            <td><span style="font-size: small;">185 M.V. ACT (L.A.C.)</span></td>
                                            <td><span style="font-size: small;">2000</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving Recklessly or Dangerously</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Exceeding Speed Limits</span></td>
                                            <td><span style="font-size: small;">Sec. 112 r/w 183 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">200</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">W/o MDL</span></td>
                                            <td><span style="font-size: small;">Sec. 3 MV Act r/w 181 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Permitted to person to drive w/o having valid MDL</span></td>
                                            <td><span style="font-size: small;">Sec. 5 r/w 180 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driven Vehicles W/o Registration</span></td>
                                            <td><span style="font-size: small;">Sec. 39 r/w 192 M.V. Act</span></td>
                                            <td><span style="font-size: small;">Tw Whlrs-300 Other -1000</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Permitted to Drive Motor Vehicle</span></td>
                                            <td><span style="font-size: small;">Sec. 39 r/w 192 M.V. Act</span></td>
                                            <td><span style="font-size: small;">Tw Whlrs-300 Other -1000</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">W/o Fitness</span></td>
                                            <td><span style="font-size: small;">Sec. 56/84(a) r/w 192 M.V. Act</span></td>
                                            <td><span style="font-size: small;">Tw Whlrs-300 Other -1000</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Permitted to Drive Vehicles W/o Fitness</span></td>
                                            <td><span style="font-size: small;">Sec. 56/84(a) r/w 192 M.V. Act</span></td>
                                            <td><span style="font-size: small;">Tw Whlrs-300 Other -1000</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Breach of Permit</span></td>
                                            <td><span style="font-size: small;">Sec. 66 r/w 192 (A) M.V. ACT</span></td>
                                            <td><span style="font-size: small;">Tw Whlrs-300 Other -1000</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Unauthorised Racing</span></td>
                                            <td><span style="font-size: small;">Sec. 189 – M.V. ACT-1988</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Disobedience of orders Instructions of Police</span></td>
                                            <td><span style="font-size: small;">Sec 179 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">200</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Driving or Permitting to drive Motor Vehicles Without Being Insured</span></td>
                                            <td><span style="font-size: small;">146 r/w 196 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without P.U.C.</span></td>
                                            <td><span style="font-size: small;">Rule-115 CMVR r/w 190(2) M.V.ACT</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Failed to Produce P.U.C.</span></td>
                                            <td><span style="font-size: small;">Rule-115(7) CMVR r/w 177] M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Honking Pressure Musical Horn</span></td>
                                            <td><span style="font-size: small;">Rule-119 CMVR r/w 190(2) M.V.ACT</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Muffler Silencer</span></td>
                                            <td><span style="font-size: small;">Rule-120 CMVR r/w 190(2) M.V.ACT</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Unnecessarily Honking Horn</span></td>
                                            <td><span style="font-size: small;">Rule 21(I) RRR r/w 177M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Jumping Signal</span></td>
                                            <td><span style="font-size: small;">MMVR 239 r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Lane Cutting</span></td>
                                            <td><span style="font-size: small;">Rule 18(2) RRR r/w 177M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">No Parking</span></td>
                                            <td><span style="font-size: small;">Rule 15 RRR r/w 177M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Double Parking</span></td>
                                            <td><span style="font-size: small;">Rule 15(2) CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Tinted Glass</span></td>
                                            <td><span style="font-size: small;">Rule-100(2) CMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Using Mobile Phone while Driving</span></td>
                                            <td><span style="font-size: small;">Rule-250(A) MMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">W/o Safety Belt</span></td>
                                            <td><span style="font-size: small;">Rule-138 CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying Excess Person</span></td>
                                            <td><span style="font-size: small;">Rule-21(20) MMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Halted on Pedestrian Crossing</span></td>
                                            <td><span style="font-size: small;">Rule-15(2) The R.R.R.- r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Unauthorised Light</span></td>
                                            <td><span style="font-size: small;">Rule-108 CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">W/o Parking Light</span></td>
                                            <td><span style="font-size: small;">Rule-109 MVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Unauthorised Number Plate</span></td>
                                            <td><span style="font-size: small;">Rule- 50 & 51 of CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Carrying Goods Dangerously</span></td>
                                            <td><span style="font-size: small;">Rule-202 MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Spilling Water</span></td>
                                            <td><span style="font-size: small;">Rule-202 MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Failed to produce Documents</span></td>
                                            <td><span style="font-size: small;">Sec. 130 MV Act r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">W/o Windscreen Wipers</span></td>
                                            <td><span style="font-size: small;">Rule 101CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Driven against Police Signal/Traffic Signs</span></td>
                                            <td><span style="font-size: small;">119 r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying Lengthy or High Goods</span></td>
                                            <td><span style="font-size: small;">Rule 229- MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Driven on Footpath</span></td>
                                            <td><span style="font-size: small;">Rule 11-RRR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Failed to Keep Left</span></td>
                                            <td><span style="font-size: small;">Rule 2 RRR r/w/177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Obstructing Overtaking</span></td>
                                            <td><span style="font-size: small;">Rule 7 RRR r/w/177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Overtaking Dangerously / Likely to Cause Obstruction</span></td>
                                            <td><span style="font-size: small;">6 (a) RRR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Fitted T.V. or VIDEO on DashBoard</span></td>
                                            <td><span style="font-size: small;">Rule 162 MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">W/O Mirror ( Two Wheeler )</span></td>
                                            <td><span style="font-size: small;">Rule 161 MMVR-177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">W/o L Plate</span></td>
                                            <td><span style="font-size: small;">Rule 3 CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying Persons Dangerously in Goods Vehicles</span></td>
                                            <td><span style="font-size: small;">Rule 108 MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Driving Against One Way Sign</span></td>
                                            <td><span style="font-size: small;">Rule 17 RRR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Refuse to Ply. ( P.S.V / MTaxi/Auto Rickshaw)</span></td>
                                            <td><span style="font-size: small;">Rule-22(D) MMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">Taxi-200 A/r-100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Soliciting.( P.S.V / M Taxi/Auto Rickshaw)</span></td>
                                            <td><span style="font-size: small;">Rule-21(15) MMVR r/w 177 M.V</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Demanded Excess Fare.( P.S.V /M Taxi/Auto Rickshaw)</span></td>
                                            <td><span style="font-size: small;">Rule-21(12) MMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">W/O Badge.( P.S.V / M Taxi/Auto Rickshaw)</span></td>
                                            <td><span style="font-size: small;">Sec.180/ 181 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Badge. Not Displayed (MTaxi/Auto Rickshaw)</span></td>
                                            <td><span style="font-size: small;">Rule-24(2) MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Badge. Not Displayed ( P.S.V )</span></td>
                                            <td><span style="font-size: small;">Rule-24(9) MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Tariff Card not Displayed</span></td>
                                            <td><span style="font-size: small;">74(2)(5) r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Taxi Parked Out Of Stand</span></td>
                                            <td><span style="font-size: small;">Rule 21 (5) MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Taxi Driver Improperly Dressed</span></td>
                                            <td><span style="font-size: small;">Rule 21 (18) MMVR r/w 177 M.V.ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Carrying Animals In Goods ARRYING ANIMALS IN GOODS VEHICLES</span></td>
                                            <td><span style="font-size: small;">Rule 83MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Tyres</span></td>
                                            <td><span style="font-size: small;">Rule 94 r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Taking U turn While Prohibited</span></td>
                                            <td><span style="font-size: small;">Rule 12 RRR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Eligible MDL</span></td>
                                            <td><span style="font-size: small;">Rule 10 MMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">W/o Light</span></td>
                                            <td><span style="font-size: small;">Rule 106 CMVR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Halting on Pedestrian Crossing</span></td>
                                            <td><span style="font-size: small;">Rule 19 RRR r/w 177 M.V. ACT</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										<tr>
                                            <td><span style="font-size: small;">Having Obstruction to Driver by Carrying excess person near by driver</span></td>
                                            <td><span style="font-size: small;">Sec. 125 M.V. Act r/w 177 M.V. Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
										
										
                                    </tbody>
                                </table>

                                <h4><span style="color: #ff0000; font-size: small; line-height: 1.3em;">KARNATAKA POLICE ACT &amp; KARNATAKA TRAFFIC ACT</span></h4>
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span style="font-size: small;">Footpath Vendor</span></td>
                                            <td><span style="font-size: small;">92 (G)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Stray Cattle</span></td>
                                            <td><span style="font-size: small;">92 (e)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Entry for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (b)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Light for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (a)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Jay Walker</span></td>
                                            <td><span style="font-size: small;">Rule 6, 18 K.T.C.Act</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>