<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>Photo Gallery</h1>
  </div>
  <div id="lightgallery">
    <!--<a href="/modules/gallery/client/img/img1.jpg">
      <img src="/modules/gallery/client/img/thumb-1.jpg" />
    </a>
    <a href="/modules/gallery/client/img/img2.jpg">
      <img src="/modules/gallery/client/img/thumb-2.jpg" />
    </a>
     <a href="/modules/gallery/client/img/img3.jpg">
      <img src="/modules/gallery/client/img/thumb-3.jpg" />
    </a>
     <a href="/modules/gallery/client/img/img4.jpg">
      <img src="/modules/gallery/client/img/thumb-4.jpg" />
    </a>-->

    <a href="/modules/gallery/client/img/BSB_1038.jpg">
      <img src="/modules/gallery/client/img/BSB_1038.jpg" />
    </a>
    <a href="/modules/gallery/client/img/BSB_1040.jpg">
      <img src="/modules/gallery/client/img/BSB_1040.jpg" />
    </a>
    <a href="/modules/gallery/client/img/BSB_1902.jpg">
      <img src="/modules/gallery/client/img/BSB_1902.jpg" />
    </a>
    <a href="/modules/gallery/client/img/BSB_4227.jpg">
      <img src="/modules/gallery/client/img/BSB_4227.jpg" />
    </a>
    <a href="/modules/gallery/client/img/BSB_4231.jpg">
      <img src="/modules/gallery/client/img/BSB_4231.jpg" />
    </a>
  </div>
</section>