<section>
    <div class="page-header">
        <h1>About Bangalore district police</h1>
    </div>

    <div class="list-group" id="section-aboutus">

        <p>We, the members of Karnataka Police, shall uphold the Law and the Rights of all people for a safe and secure environment,
            conducive to their internal and external growth and development. Towards this end, we set for ourselves the following
            objectives:</p>
        <ul class="dt-sc-fancy-list  ">
            <li><span style="font-size: 12pt;">Protect the lives and liberties of the people from criminal and anti- social elements.</span></li>
            <li><span style="font-size: 12pt;">Earn the good will, support and active assistance of the community.</span></li>
            <li><span style="font-size: 12pt;">Co-ordinate with other departments of Criminal Justice System.</span></li>
            <li><span style="font-size: 12pt;">Equal treatment regardless of caste, religion, social and economic status or political affiliations.</span></li>
            <li><span style="font-size: 12pt;">Due consideration for women, children, senior citizens and weaker sections. Improve professional knowledge, skills and attitudes and adopt modern methods in police work.</span></li>
            <li><span style="font-size: 12pt;">Promote human rights and professional values of integrity, honesty and efficiency.</span></li>
            <li><span style="font-size: 12pt;">Accept and play our role in social transformation and bring about improvement in the quality of life with society</span></li>
        </ul>


    </div>
</section>