<table width="100%" border="0" cellspacing="0" cellpadding="0" class="rt-joomla-table">


    <tbody>
        <tr class="odd">
            <td align="right">
                1 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=113:arms-license-issue-and-renewal-verification&amp;catid=48:sakala-service&amp;Itemid=154">Arms License Issue and Renewal Verification</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                2 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=122:certification-of-finger-print&amp;catid=48:sakala-service&amp;Itemid=154">Certification of Finger Print</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                3 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=103:issue-of-copy-of-fir-to-the-complainant&amp;catid=48:sakala-service&amp;Itemid=154">Issue of Copy of FIR to the Complainant</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                4 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=104:license-for-amplified-sound-system&amp;catid=48:sakala-service&amp;Itemid=154">License for Amplified Sound System</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                5 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=105:license-for-amusement&amp;catid=48:sakala-service&amp;Itemid=154">License for Amusement</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                6 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=114:missing-report-of-documentsmobile-phone-etc&amp;catid=48:sakala-service&amp;Itemid=154">Missing Report of Documents,Mobile phone etc</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                7 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=123:no-objection-to-return-to-india-permission-in-respect-of-tibetans&amp;catid=48:sakala-service&amp;Itemid=154">No objection to return to India permission in respect of Tibetans</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                8 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=109:no-obligation-to-return-to-india-nori-certificate&amp;catid=48:sakala-service&amp;Itemid=154">No obligation to return to India (NORI) Certificate</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                9 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=110:noc-for-passport-verification&amp;catid=48:sakala-service&amp;Itemid=154">NOC for Passport Verification</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                10 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=112:noc-for-petrol-pumpgas-agencyhotelbar-etc&amp;catid=48:sakala-service&amp;Itemid=154">NOC for Petrol pump,Gas agency,Hotel,Bar etc</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                11 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=107:noc-for-residencial-permit-extension&amp;catid=48:sakala-service&amp;Itemid=154">NOC for Residencial Permit Extension</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                12 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=106:permission-for-peaceful-assembly-and-procession&amp;catid=48:sakala-service&amp;Itemid=154">Permission for Peaceful Assembly and procession</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                13 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=121:police-clearance-certificate-for-going-abroad-visa-for-studies-police-clearance-certificate-for-foreign-nationals&amp;catid=48:sakala-service&amp;Itemid=154">Police Clearance Certificate for going abroad (Visa for studies)/ Police Clearance Certificate for Foreign Nationals</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                14 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=115:police-verification-certificate-for-domestic-servantshouse-keeping&amp;catid=48:sakala-service&amp;Itemid=154">Police Verification Certificate for domestic servants/house keeping</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                15 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=120:police-verification-certificate-for-govt-employees-upon-direct-request-made-by-the-employee&amp;catid=48:sakala-service&amp;Itemid=154">Police Verification Certificate for Govt. employees (upon direct request made by the employee)</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                16 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=118:police-verification-certificate-for-training-apprenticeship&amp;catid=48:sakala-service&amp;Itemid=154">Police verification Certificate for Individual applicants</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                17 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=116:police-verification-certificate-for-institutions--companies&amp;catid=48:sakala-service&amp;Itemid=154">Police Verification Certificate for Institutions / Companies</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                18 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=117:police-verification-certificate-for-marriage-alliances&amp;catid=48:sakala-service&amp;Itemid=154">Police verification Certificate for Marriage Alliances</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                19 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=119:police-verification-certificate-for-training-apprenticeship&amp;catid=48:sakala-service&amp;Itemid=154">Police verification Certificate for Training Apprenticeship</a>
            </td>
        </tr>
        <tr class="even">
            <td align="right">
                20 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=108:receipt-and-disposal-of-petitions&amp;catid=48:sakala-service&amp;Itemid=154">Receipt and Disposal of Petitions</a>
            </td>
        </tr>
        <tr class="odd">
            <td align="right">
                21 </td>
            <td>
                <a href="/index.php?option=com_content&amp;view=article&amp;id=111:service-verification&amp;catid=48:sakala-service&amp;Itemid=154">Service Verification</a>
            </td>
        </tr>

    </tbody>
</table>