<section>
    <div class="row" id="content-aboutus">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <!-- <div class="absolute-wrapper"> </div> -->
        <!-- Menu -->
        <div class="side-menu">

            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="brand-wrapper">
                        <!-- Hamburger -->
                        <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                        <!-- Brand -->
                        <div class="brand-name-wrapper">
                            <a class="navbar-brand" href="#">
                   Traffic
                </a>
                        </div>


                    </div>

                </div>

                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav" ng-class="{'slide-in' : vm.isCollapsed}">
                        <li class="active"><a href="#hashRulesRegulations"><span class="fa fa-book"></span> Rules & Regulations</a></li>
                        <li><a href="#hashYouAreObserved"><span class="fa fa-binoculars"></span>You are Observed</a></li>
                        <li><a href="#hashTrafficSignals"><span class="fa fa-hand-stop-o"></span> Traffic Sign Boards</a></li>
                        <li><a href="#hashTrafficPenaltyChart"><span class="fa fa-edit"></span> Traffic Penalty Chart</a></li>
                        <li><a href="#hashAdviceToDrivers"><span class="fa fa-mortar-board"></span> Advice to Drivers</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body" ng-class="{'body-slide-in' : vm.isCollapsed}">
                <div id="hashRulesRegulations" class="section-hash">
                    <h1> Rules & Regulations </h1>
                    <div class="module-inner2">
                        <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO TWO-WHEELER RAIDERS</span></strong><br>                            <br> <strong><span style="color: #ff0000;">Take care - you are the most vulnerable on the  road. </span></strong><br>                            <br> Two wheelers occupy less road space, consume less fuel and hardly damage roads. All plus
                            points. But, unfortunately, there are many irresponsible two wheeler riders. For you and for
                            other road users, driving can be pleasant if the following rules observed.<br>
                            </span>
                        </p>
                        <ul>
                            <li><span style="line-height: 1.3em;">Stick to the left lane and leave the right lane to faster traffic.</span></li>
                            <li><span style="line-height: 1.3em;">Don't view through traffic stick to your lane.</span></li>
                            <li><span style="line-height: 1.3em;">Never over take on the left.</span></li>
                            <li><span style="line-height: 1.3em;">Wear a helmet for your safety</span></li>
                            <li><span style="line-height: 1.3em;">Don't push your way forward through any opening in the traffic at traffic  signals.</span></li>
                            <li><span style="line-height: 1.3em;">2 stroke engines are big polluters because of carbon monoxide emission. Keep  your engine tuned.</span></li>
                            <li><span style="line-height: 1.3em;">Do not over speed. The time you gave is negligible.</span></li>
                            <li><span style="line-height: 1.3em;">Do not use horn unnecessarily.</span><span style="line-height: 1.3em;"> </span></li>
                            <li><span style="line-height: 1.3em;">Remember you are vulnerable: in any collision you are more in danger than car  or bus.</span></li>
                        </ul>
                        <p></p>
                        <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO THREE WHEELER / FOUR WHEELER DRIVERS </span></strong><br>                            <br> <strong><span style="color: #ff0000;">Think of pedestrians and cyclists,  particularly in bad weather. </span></strong><br>                            <br> You are one of the privileged few who own cars in our country. It is a great convenience.
                            You can make driving a joy by observing a few simple rules when you are behind the wheel.<br>
                            </span>
                        </p>
                        <ul>
                            <li><span style="line-height: 1.3em;">Give way to traffic on your right at junctions. If everyone is jostling for  advantage, the results is a traffic mess out of which no one can get out</span></li>
                            <li><span style="line-height: 1.3em;">Do not use horns unnecessarily; use it only to avert danger. Noise level goes  up, driving becomes tiresome with hardly any difference to your progress</span></li>
                            <li><span style="line-height: 1.3em;">Do not over speed or jump traffic lights. The time that you gain is not worth  the risk to life and limb</span></li>
                            <li><span style="line-height: 1.3em;">Keep your vehicle in good condition. Exhaust fumes cause air pollution and  endanger health</span></li>
                            <li><span style="line-height: 1.3em;">Show courtesy and consideration to the less fortunate - the pedestrians, the  cyclists and two wheelers</span></li>
                        </ul>
                        <p></p>


                    </div>
                </div>

                <div id="hashYouAreObserved" class="section-hash">
                    <h1> You are Observed </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <h3 style="text-align: justify; visibility: visible;"><span>Cameras</span> &amp; Blackberries to Check Offenders</h3>
                            <p style="text-align: justify;">In order to prevent the chaos on the roads stemming from citizens breaking traffic rules, Tumakuru
                                District Traffic Police has geared itself with technology that provides no escape to all
                                those breaking the law, be it speeding, crossing the red light, drunken driving, nonpayment
                                of fines imposed or for the matter non transfer of the ownership of registration of vehicles.</p>
                            <h3 style="text-align: justify; visibility: visible;"><span>WHAT</span> HAPPENS IF.....</h3>
                            <h4 style="text-align: justify;"><span style="color: #0000ff;">1. YOU DRINK AND DRIVE or SPEED</span></h4>
                            <p style="text-align: justify;">Tumakuru District Traffic Police have intensified their attack on all those who drink and drive.
                                If you test positive for drunken driving then your vehicle would be seized and you would
                                be required to come to court in person to pay your fines. Not only this, your offence would
                                be recorded at a Enforcement Automation Center and can be accessed at any time by the inspectors.
                                Remember that driving under the influence of liquor is a serious offence and can lead to
                                driver being imprisoned.</p>
                            <p style="text-align: justify;">The same is the case for those who are found driving over the speed limits set. If found to be
                                habitual offender the fines would not only increase but you stand to lose your driving license
                                too.
                            </p>
                            <h4 style="text-align: justify;"><span style="color: #0000ff;">2. YOU HAVE NOT TRANSFERRED OWNERSHIP OF YOUR VEHICLE</span></h4>
                            <p style="text-align: justify;">It is illegal to not transfer the ownership of the vehicle, either when you buy or sell it. If
                                the ownership transfer is not done on time, you could be the one being accused in case your
                                vehicle you sold is involved in a crime, an accident or even terrorist activities.</p>
                            <p style="text-align: justify;">You have 45 days to inform the concerned authorities of the transfer of ownership and get the
                                papers in order. It is the responsibilities of both the buyer and the seller to get the transfers
                                done.
                            </p>


                        </div>
                    </div>
                </div>

                <div id="hashTrafficSignals" class="section-hash">
                    <h1>Traffic Mandatary Sign Boards </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <p><img src="/modules/contact/client/img/traffic-signs-1.gif" border="0" width="100%" style="vertical-align: baseline;"></p>
                            <p><img src="/modules/contact/client/img/traffic-signs-2.gif" border="0" width="100%" style="vertical-align: baseline;"></p>
                            <p><img src="/modules/contact/client/img/traffic-signs-3.gif" border="0" width="100%" style="vertical-align: baseline;"></p>


                        </div>
                    </div>
                </div>

                <div id="hashTrafficPenaltyChart" class="section-hash">
                    <h1>Traffic Penalty Chart </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <div class="column dt-sc-three-fourth fbtheme">
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #ff0000;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Two Wheeler</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Non-Transport Vehicle(White Board)</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Dangerous Drive Transport Vehicle (Yellow Board)</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Whoever drives a Vehicle or cause Vehicle to be driven at a speed exceeding the maximum speed fixed</span></td>
                                            <td><span style="font-size: small;">Section 112 read with sec.183(1) &amp; (2) of M.V. Act</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Racing &amp; trails of speed</span></td>
                                            <td><span style="font-size: small;">Section.189 of M.V. Act</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying excess passengers in 3 Wheeled Vehicle</span></td>
                                            <td><span style="font-size: small;">Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Carrying excess passengers in Transport Vehicles including buses</span></td>
                                            <td><span style="font-size: small;">Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">100/- for every excess passenger</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Drunken Drive</span></td>
                                            <td><span style="font-size: small;">M.V.Act 184</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Parking</span></td>
                                            <td><span style="font-size: small;">Section 177 of M.V. Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Demanding Excess Fare&amp; refusal to come for hire etc., by Autoricksaw Driver or Taxi Driver</span></td>
                                            <td><span style="font-size: small;">Rule 13 (U) of the KMV Rules read with Section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">First time 100/-, 2nd &amp; subsequent offences 300/-</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Fare Meter</span></td>
                                            <td><span style="font-size: small;">16 Class (K)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Silencer</span></td>
                                            <td><span style="font-size: small;">16 Class 120</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Emitting Black Somke</span></td>
                                            <td><span style="font-size: small;">190 Class (2)</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Shrill Horn</span></td>
                                            <td><span style="font-size: small;">190 Class (2)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Permit</span></td>
                                            <td><span style="font-size: small;">190 Class 192</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Two Wheeler</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Non-Transport Vehicle</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Driving License Transport Vehicle</span></td>
                                            <td><span style="font-size: small;">Sec.3 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving a Motor Vehicle in any public place by an under aged person</span></td>
                                            <td><span style="font-size: small;">Sec.4 read with Sec.181 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Owner of a Motor Vehicle permitted any person to drive his/her Vehicle in contravention of section 3 or 4</span></td>
                                            <td><span style="font-size: small;">Sec.5 read with Sec.180 of the M.V. Act.</span></td>
                                            <td><span style="font-size: small;">1000</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Jumping Traffic Signal</span></td>
                                            <td><span style="font-size: small;">Rule 119, read with section 177, M.V. Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking</span></td>
                                            <td><span style="font-size: small;">190 Class 117</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Cutting Yellow Lane / Lane Discipline</span></td>
                                            <td><span style="font-size: small;">190 Class 119</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Number Plate</span></td>
                                            <td><span style="font-size: small;">190 Class 50</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Entry</span></td>
                                            <td><span style="font-size: small;">190 Class 115</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">H.T.V.Prohibited</span></td>
                                            <td><span style="font-size: small;">115 R/w 177</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Uniform</span></td>
                                            <td><span style="font-size: small;">14 R/w 177</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without I.C.</span></td>
                                            <td><span style="font-size: small;">14 R/w 106</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without F.C.</span></td>
                                            <td><span style="font-size: small;">14 R/w 56</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Defective Head Light</span></td>
                                            <td><span style="font-size: small;">14 R/w 106</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Tail Light</span></td>
                                            <td><span style="font-size: small;">14 R/w 250</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving any Motor Vehicle without number plate</span></td>
                                            <td><span style="font-size: small;">Rule 50 of the Central Motor Vehicle Rules read with section 177 of the M.V. Act</span></td>
                                            <td><span style="font-size: small;">Firsttime 100/-, 2nd &amp; subsequent offences 300/-</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Footboard Traveling</span></td>
                                            <td><span style="font-size: small;">94 Class (2)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Gents Traveling Ladies Seat in BMTC / Local Transport Buses</span></td>
                                            <td><span style="font-size: small;">94 Class (4)</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Holding / using Mobile Phone while Driving / riding a Vehicle</span></td>
                                            <td><span style="font-size: small;">Section 230(A) KMVR R/W Sec 177, I.M.V Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Not wearing Helmet to head while riding the Vehicle</span></td>
                                            <td><span style="font-size: small;">230 of the KMVR 1989 in sub rule (1)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Triple riding</span></td>
                                            <td><span style="font-size: small;">Section 128 (1), MV Act R/W sec 177 MV Act</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(2Wheeler)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">300</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(Car)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">400</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Wrong Parking+ Towing charges(HGV)</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">500</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Driving without wearing Seat Belt</span></td>
                                            <td><span style="font-size: small;">-</span></td>
                                            <td><span style="font-size: small;">100</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4><span style="color: #ff0000; font-size: small; line-height: 1.3em;">KARNATAKA POLICE ACT &amp; KARNATAKA TRAFFIC ACT</span></h4>
                                <table style="width: 100%; border: 1px solid #dcdcdc;" border="1" cellspacing="1" cellpadding="3" align="center">
                                    <thead>
                                        <tr>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">TRAFFIC OFFENCES</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">SECTION OF LAW</span></span>
                                            </th>
                                            <th><span style="font-size: small;"><span style="color: #0000ff;">FINE AMOUNT (Rs.)</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span style="font-size: small;">Footpath Vendor</span></td>
                                            <td><span style="font-size: small;">92 (G)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Stray Cattle</span></td>
                                            <td><span style="font-size: small;">92 (e)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">No Entry for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (b)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Without Light for Cycle</span></td>
                                            <td><span style="font-size: small;">92 (a)</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: small;">Jay Walker</span></td>
                                            <td><span style="font-size: small;">Rule 6, 18 K.T.C.Act</span></td>
                                            <td><span style="font-size: small;">Court Fine</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
                <div id="hashAdviceToDrivers" class="section-hash">
                    <h1>Traffic Penalty Chart </h1>
                    <div class="module-inner">
                        <div class="module-inner2">
                            <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO TWO-WHEELER RAIDERS</span></strong><br>                                <br> <strong><span style="color: #ff0000;">Take care - you are the most vulnerable on the  road. </span></strong><br>                                <br> Two wheelers occupy less road space, consume less fuel and hardly damage roads. All
                                plus points. But, unfortunately, there are many irresponsible two wheeler riders. For you
                                and for other road users, driving can be pleasant if the following rules observed.<br>
                                </span>
                            </p>
                            <ul>
                                <li><span style="line-height: 1.3em;">Stick to the left lane and leave the right lane to faster traffic.</span></li>
                                <li><span style="line-height: 1.3em;">Don't view through traffic stick to your lane.</span></li>
                                <li><span style="line-height: 1.3em;">Never over take on the left.</span></li>
                                <li><span style="line-height: 1.3em;">Wear a helmet for your safety</span></li>
                                <li><span style="line-height: 1.3em;">Don't push your way forward through any opening in the traffic at traffic  signals.</span></li>
                                <li><span style="line-height: 1.3em;">2 stroke engines are big polluters because of carbon monoxide emission. Keep  your engine tuned.</span></li>
                                <li><span style="line-height: 1.3em;">Do not over speed. The time you gave is negligible.</span></li>
                                <li><span style="line-height: 1.3em;">Do not use horn unnecessarily.</span><span style="line-height: 1.3em;"> </span></li>
                                <li><span style="line-height: 1.3em;">Remember you are vulnerable: in any collision you are more in danger than car  or bus.</span></li>
                            </ul>
                            <p></p>
                            <p><span style="font-size: small;"><strong><span style="color: #0000ff;">ADVICE TO THREE WHEELER / FOUR WHEELER DRIVERS </span></strong><br>                                <br> <strong><span style="color: #ff0000;">Think of pedestrians and cyclists,  particularly in bad weather. </span></strong><br>                                <br> You are one of the privileged few who own cars in our country. It is a great convenience.
                                You can make driving a joy by observing a few simple rules when you are behind the wheel.<br>
                                </span>
                            </p>
                            <ul>
                                <li><span style="line-height: 1.3em;">Give way to traffic on your right at junctions. If everyone is jostling for  advantage, the results is a traffic mess out of which no one can get out</span></li>
                                <li><span style="line-height: 1.3em;">Do not use horns unnecessarily; use it only to avert danger. Noise level goes  up, driving becomes tiresome with hardly any difference to your progress</span></li>
                                <li><span style="line-height: 1.3em;">Do not over speed or jump traffic lights. The time that you gain is not worth  the risk to life and limb</span></li>
                                <li><span style="line-height: 1.3em;">Keep your vehicle in good condition. Exhaust fumes cause air pollution and  endanger health</span></li>
                                <li><span style="line-height: 1.3em;">Show courtesy and consideration to the less fortunate - the pedestrians, the  cyclists and two wheelers</span></li>
                            </ul>
                            <p></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>