<section>
    <div class="page-header">
        <h1>RTI</h1>
    </div>

    <uib-tabset active="active">
        <uib-accordion>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Definition of Public Authority<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p><strong>Any authority or body or institution of self-government established or constituted</strong></p>
                <ul style="list-style-type: circle;">
                    <li>By or under the Constitution</li>
                    <li>By any other law made by Parliament</li>
                    <li>By other law made by State Legislature</li>
                    <li>By notification issued or order made by the appropriate Govt, and includes anybody owned, controlled
                        or substantially financed.
                    </li>
                    <li>Non Govt, organization substantially financed, directly, indirectly by funds provided by the appropriate
                        government
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Definition of Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">Any material in any form, including records, documents, memos, e-mails, opinions, advises, press releases,
                    circulars, orders, log books, contracts, reports, papers, samples, models, data material held in any
                    electronic form and information relating to any private body which can be accessed by a public authority
                    under any other law for the time being in force.
                </p>
                <ul style="list-style-type: circle;">
                    <li>Any document, manuscript and file</li>
                    <li>Any microfilm, microfiche and facsimile copy of a document</li>
                    <li>Any reproduction of image or images embodied in such microfilm (whether enlarged or not )</li>
                    <li>Any other material produced by a computer or any other device.</li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Background <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">Disclosure of Government Information in India is governed by a law enacted during the British rule over large
                    parts of what is now India, the Official Secrets Act of 1889 which was amended in 1923. This law secures
                    information related to security of the State, sovereignty of the country and friendly relations with
                    foreign states, and contains provisions which prohibit disclosure of non-classified information. Civil
                    Service conduct rules and the Indian Evidence Act impose further restrictions on government officials’
                    powers to disclose information to the public.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    State-level laws <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">The RTI Laws were first successfully enacted by the state governments of Tamil Nadu (1997) Goa (1997), Rajasthan
                    (2000), Karnataka (2000), Delhi (2001), Maharashtra (2002), Madhya Pradesh (2003), Assam (2002) and Jammu
                    and Kashmir (2004). The Maharashtra and Delhi State level enactments are considered to have been the
                    most widely used. The Delhi RTI Act is still in force. Jammu &amp;Kashmir has its own Right to Information
                    Act of 2009, the successor to the repealed J&amp;K Right to Information Act, 2004 and its 2008 amendment.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Freedom of Information Act <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">Passage of a national level law, however, proved to be a difficult task. Given the experience of state governments
                    in passing practicable legislation, the Central Government appointed a working group under H. D. Shourie
                    and assigned it the task of drafting legislation. The Shourie draft, in an extremely diluted form, was
                    the basis for the Freedom of Information Bill, 2000 which eventually became law under the Freedom of
                    Information Act, 2002. This Act was severely criticized for permitting too many exemptions, not only
                    under the standard grounds of national security and sovereignty, but also for requests that would involve
                    “disproportionate diversion of the resources of a public authority”. There was no upper limit on the
                    charges that could be levied. There were no penalties for not complying with a request for information.
                    The FoI Act, consequently, never came into effective force.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Enactment <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">The doomed FoI Act led to sustained pressure for a better National RTI enactment. The first draft of the
                    Right to Information Bill was presented to Parliament on 22 December 2004. After intense debate, more
                    than a hundred amendments to the draft Bill were made between December 2004 and 15 June 2005, when the
                    bill finally passed. The Act came fully into effect on 13 October 2005.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Scope <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">The Act covers the whole of India except Jammu and Kashmir. It is applicable to all constitutional authorities,
                    including the executive, legislature and judiciary; any institution or body established or constituted
                    by an act of Parliament or a state legislature. It is also defined in the Act that bodies or authorities
                    established or constituted by order or notification of appropriate government including bodies “owned,
                    controlled or substantially financed” by government, or non-Government organizations “substantially financed,
                    directly or indirectly by funds” provided by the government are also covered in it. Private bodies are
                    not within the Act’s ambit directly. However, information that can be accessed under any other law in
                    force by a public authority can also be requested for. In a landmark decision of 30-Nov-2006 (‘Sarbajit
                    Roy versus DERC’) the Central Information Commission also reaffirmed that privatized public utility companies
                    continue to be within the RTI Act- their privatization notwithstanding. The Act also explicitly overrides
                    the Official Secrets Act and other laws in force on 15-June-2005 to the extent of any inconsistency.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p><strong>The Act specifies that citizens have a right to</strong></p>
                <ul style="list-style-type: circle;">
                    <li>Request any information (as defined)</li>
                    <li>Take copies of documents</li>
                    <li>Inspect documents, works and records</li>
                    <li>Take certified samples of materials of work</li>
                    <li>Obtain information in form of printouts, diskettes, floppies, tapes, video cassettes ‘or in any other
                        electronic mode’ or through printouts</li>
                </ul>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Structure of the Machinery for Providing Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <ul style="list-style-type: circle;">
                    <li>First level of the regime, every public authority has designated officers for receiving applications
                        [Section 5]
                    </li>
                    <li>Second level, every public authority has designated senior officers to look into those cases where citizens
                        request for information have been refused i.e., Departmental Appellate Authority [Section 19 (1)]</li>
                    <li>Third level, an independent Central/State Information Commissions has been constituted to look into those
                        cases where citizens are not satisfied with the action / decision of the PIO and on the decision
                        of DAA [Section 12,13,15,16,18 and 19(3)]</li>
                    <li>Designation of Public Information officers</li>
                    <li>It is the responsibility of the Public Authorities to designate Public Information Officers and Asst.
                        Public Information Officers within 100 days of its enactment [Section 5(1) and 5 (2)]</li>
                    <li>The PIOs/APIOs are not only responsible for the request from the citizens but also to assist them in
                        seeking information [Section 5 (3)]</li>
                </ul>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Appointment of Public Information Officers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>

                <ul style="list-style-type: circle;">
                    <li>Public Information Officers are designated by the public authorities in all administrative units or offices
                        under it to provide information to the citizens requesting for information under the Act [Section
                        5 (1)]</li>
                    <li>The public authorities shall also designate Assistant Public Information Officers at the sub-divisional
                        or sub-district level [Section 2]</li>
                    <li>Any officer, whose assistance has been sought by the PIO for the proper discharge of his or her duties,
                        shall render all assistance and for the purpose of contraventions of the provisions of this Act,
                        such other officers shall be treated as a PIO [Section 5 (4) and 5 (5)]</li>
                </ul>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    The Act specifies time limits for replying to the request: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <ul style="list-style-type: circle;">
                    <li>If the request has been made to the PIO, the reply is to be given within 30 days of receipt</li>
                    <li>If the request has been made to an APIO, the reply is to be given within 35 days of receipt</li>
                    <li>If the PIO transfers the request to another public authority (better concerned with the information requested),
                        the time allowed to reply is 30 days but computed from the day after it is received by the PIO of
                        the transferee authority
                    </li>
                    <li>Information concerning corruption and Human Rights violations by scheduled Security agencies (those listed
                        in the Second Schedule to the Act) is to be provided within 45 days but with the prior approval of
                        the Central Information Commission
                    </li>
                    <li>However, if life or liberty of any person is involved, the PIO is expected to reply within 48 hours</li>
                </ul>
                <p style="text-align: justify;">Since the information is to be paid for, the reply of the PIO is necessarily limited to either denying the
                    request (in whole or part) and/or providing a computation of “further fees”. The time between the reply
                    of the PIO and the time taken to deposit the further fees for information is excluded from the time allowed.
                    If information is not provided within this period, it is treated as deemed refusal. Refusal with or without
                    reasons may be ground for appeal or complaint. Further, information not provided in the times prescribed
                    is to be provided free of charge
                </p>
                <p>The following is exempt from disclosure [S.8)]</p>
                <ul style="list-style-type: circle;">
                    <li>Information, disclosure of which would prejudicially affect the sovereignty and integrity of India, the
                        security, “strategic, scientific or economic” interests of the State, relation with foreign State
                        or lead to incitement of an offence</li>
                    <li>Information which has been expressly forbidden to be published by any court of law or tribunal or the
                        disclosure of which may constitute contempt of court</li>
                    <li>Information, the disclosure of which would cause a breach of privilege of Parliament or the State Legislature</li>
                    <li>Information including commercial confidence, trade secrets or intellectual property, the disclosure of
                        which would harm the competitive position of a third party, unless the competent authority is satisfied
                        that larger public interest warrants the disclosure of such information</li>
                    <li>Information available to a person in his fiduciary relationship, unless the competent authority is satisfied
                        that the larger public interest warrants the disclosure of such information</li>
                    <li>Information received in confidence from foreign Government</li>
                    <li>Information, the disclosure of which would endanger the life or physical safety of any person or identify
                        the source of information or assistance given in confidence for law enforcement or security purposes</li>
                    <li>Information which would impede the process of investigation or apprehension or prosecution of offenders
                        Cabinet papers including records of deliberations of the Council of Ministers, Secretaries and other
                        officers
                    </li>
                    <li>Information which relates to personal information the disclosure of which has no relationship to any
                        public activity or interest, or which would cause unwarranted invasion of the privacy of the individual
                        (but it is also provided that the information which cannot be denied to the Parliament or a State
                        Legislature shall not be denied by this exemption)
                    </li>
                    <li>Notwithstanding any of the exemptions listed above, a public authority may allow access to information,
                        if public interest in disclosure outweighs the harm to the protected interests. (NB: This provision
                        is qualified by the proviso to sub-section 11(1) of the Act which exempts disclosure of “trade or
                        commercial secrets protected by law” under this clause when read along with 8(1)(d)))</li>
                </ul>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Partial disclosure <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>

                <p>Section 10 of the Act allows those part(s) of the record which are not exempt from disclosure and which can
                    reasonably be severed from parts containing exempt information to be provided.</p>



            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Exclusions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p style="text-align: justify;">Central Intelligence and Security agencies specified in the Second Schedule like IB, RAW, Central Bureau
                    of Investigation (CBI), Directorate of Revenue Intelligence, Central Economic Intelligence Bureau, Directorate
                    of Enforcement, Narcotics Control Bureau, Aviation Research Centre, Special Frontier Force, BSF, CRPF,
                    ITBP, CISF, NSG,Assam Rifles, Special Service Bureau, Special Branch (CID), Andaman and Nicobar, The
                    Crime Branch-CID-CB, Dadra and Nagar Haveli and Special Branch, Lakshadweep Police. Agencies specified
                    by the State Governments through a Notification will also be excluded. The exclusion, however, is not
                    absolute and these organizations have an obligation to provide information pertaining to allegations
                    of corruption and human rights violations. Further, information relating to allegations of human rights
                    violation could be given but only with the approval of the Central or State Information Commission.</p>

            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    Role of the government <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>

                <p>Section 26 of the Act enjoins the central government, as also the state governments of the Republic of India
                    (excluding J&amp;K), to initiate necessary steps to</p>
                <ul style="list-style-type: circle;">
                    <li>Develop educational programmes for the public especially disadvantaged communities on RTI</li>
                    <li>Encourage Public Authorities to participate in the development and organization of such programmes</li>
                    <li>Promote timely dissemination of accurate information to the public</li>
                    <li>Train officers and develop training materials</li>
                    <li>Compile and disseminate a User Guide for the public in the respective official language</li>
                    <li>Publish names, designation postal addresses and contact details of PIOs and other information such as
                        notices regarding fees to be paid, remedies available in law if request is rejected etc</li>
                </ul>
            </div>
        </uib-accordion>
    </uib-tabset>

</section>