<nav class="navbar navbar-inverse header-contacts">
    <div class="container">
        <div class="navbar-header">
            <i class="fa fa-phone" aria-hidden="true"></i>08262 230403
        </div>
        <div class="navbar-header-center">
            <a class="navbar-brand" id="logo-main" href="#">
                <div  class="pull-left"><img src="/modules/core/client/img/logo-sm.png" /></div>
                <div class="logo-text pull-left">
                    <div  aria-hidden="true">ಬೆಂಗಳೂರು ನಗರ ಪೊಲೀಸ್</div>
                    <div   aria-hidden="true">Bangalore City Police</div>
                </div>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active" class="">
                <a href="http://facebook.com/ckmpolice" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active" class="">
                <a href="http://twitter.com/spckmofficial" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active" class="">
                <a href="https://www.youtube.com/channel/UCC3gPZmfStoK0WoHxwuFPUQ" target="_blank"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </div>
</nav>