<section>
  <div class="row">
    <div class="sy-box pictures-slider col-sm-12 col-md-9">
      <div class="sy-slides-wrap">
        <div class="sy-slides-crop">
          <ul id="demo1">
            <li><a href="#slide1"><img src="/modules/core/client/views/photos/1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a>
            </li>
            <li><a href="#slide2"><img src="/modules/core/client/views/photos/2.jpg"  alt="This is caption 2"></a></li>
            <li><a href="#slide3"><img src="/modules/core/client/views/photos/3.jpg" alt="And this is some very long caption for slide 3. Yes, really long."></a></li>
          </ul>
        </div>
        <div class="sy-filler ready" style="padding-top: 40.038%;"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="thumbnail">
        <img src="./modules/core/client/img/500x300.png" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat.</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!-- Wanted to see how easily marquees could be constructed with CSS:
     - This demo uses -prefix-free to avoid vendor prefixes
     - It also requires manual setting of the end text-indent
     - Everything below the /* Make it pretty */ comment is non-essential
     - Brought to you by @jonathansampson -->
      <!--<p class="marquee">ಡಿಸಿಬಿ ಪೊಲೀಸ್ ಠಾಣೆ ಮೊ.ಸಂ. 07/2017 : ಯಾರೋ ಒಬ್ಬ ಆಸಾಮಿ ಚೀಲದಲ್ಲಿ ಅಕ್ರಮವಾಗಿ ಮಧ್ಯವನ್ನು ಇಟ್ಟುಕೊಂಡು ಹೋಗುತ್ತಿರುವುದಾಗಿ ದೊರೆತ
        ಮಾಹಿತಿ ಮೇರೆಗೆ ಸಿಬ್ಬಂದಿ ಹಾಗೂ ಪಂಚರೊಂದಿಗೆ ಸಂಜೆ 4-00 ಗಂಟೆಗೆ ದಾಳಿ ನಡೆಸಿದಾಗ ಆರೋಪಿ ಮಧ್ಯದ ಚೀಲವನ್ನು ಬಿಟ್ಟು ಓಡಿಹೋಗಿದ್ದು, ಚೀಲವನ್ನು.</p>-->
        <p class="marquee" bind-html-compile="vm.todaysAnnouncements[0].content"></p>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

  </div>-->
  <!-- End row -->

  <div class="row" id="top-latestnews-container">
    <div class="col-lg-12">
      <h1 class="page-header">
        Latest News
      </h1>
    </div>

    <div class="col-md-4" ng-repeat="article in vm.topArticles">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{article.title}}</h4>
        </div>
        <div class="panel-body">
          <p class="top-latestnews" bind-html-compile="article.content"></p>
          <a ui-sref="articles.view({ articleId: article._id })" class="btn btn-default">Read More</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row" id="top-latestnews-container">
    <div class="col-lg-12">
      <h1 class="page-header">
        Latest Videos
      </h1>
    </div>

    <div class="col-md-4" ng-repeat="video in vm.topVideos">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{video.title}}</h4>
        </div>
        <div class="panel-body embed-responsive embed-responsive-16by9">
          <iframe src="{{video.link | trustAsResourceUrl}}"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>