<section>
  <div class="sy-box pictures-slider">
    <div class="sy-slides-wrap">
      <div class="sy-slides-crop">


        <ul id="demo1">
          <li><a href="#slide1"><img src="/modules/core/client/views/photos/8266426033_c8c830e351_h.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a>
          </li>
          <li><a href="#slide2"><img src="/modules/core/client/views/photos/8266429353_d07ce461b6_h.jpg"  alt="This is caption 2"></a></li>
          <li><a href="#slide3"><img src="/modules/core/client/views/photos/8270243344_9162d815d3_h.jpg" alt="And this is some very long caption for slide 3. Yes, really long."></a></li>
        </ul>
      </div>
      <div class="sy-filler ready" style="padding-top: 40.038%;"></div>
    </div>
  </div>

   
  <div class="row">

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit
            debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
        </div>
      </div>
    </div>

  </div>
  <!-- End row -->

  <div class="row" id="top-latestnews-container">
    <div class="col-lg-12">
      <h1 class="page-header">
        Latest News
      </h1>
    </div>

    <div class="col-md-4" ng-repeat="article in vm.topArticles">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{article.title}}</h4>
        </div>
        <div class="panel-body">
          <p class="top-latestnews" bind-html-compile="article.content"></p>
          <a ui-sref="articles.view({ articleId: article._id })" class="btn btn-default">Read More</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row" id="top-latestnews-container">
    <div class="col-lg-12">
      <h1 class="page-header">
        Latest Videos
      </h1>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>ಅಪಘಾತದಲ್ಲಿ ಸಾವು ಪ್ರಕರಣ</h4>
        </div>
        <div class="panel-body embed-responsive embed-responsive-16by9">
          <iframe src="//player.vimeo.com/video/22428395"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>YouTube Player</h4>
        </div>
        <div class="panel-body embed-responsive embed-responsive-16by9">
          <iframe src="//www.youtube.com/embed/ac7KhViaVqc"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Big Buck Bunny</h4>
        </div>
        <div class="panel-body embed-responsive embed-responsive-16by9">
          <iframe src="http://www.youtube.com/embed/YE7VzlLtp-4?rel=0"></iframe>
        </div>
      </div>
    </div>
  </div>
   
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section>