<section>
  <div class="page-header">
    <h1>Missing People</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="missingpeopleInst in vm.missingpeople" ui-sref="missingpeople.view({ mPeopleId: missingpeopleInst._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="missingpeopleInst.created | date:'mediumDate'"></span>
        by
        <span ng-if="missingpeopleInst.user" ng-bind="missingpeopleInst.user.displayName"></span>
        <span ng-if="!missingpeopleInst.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="missingpeopleInst.title"></h4>
      <p class="list-group-item-text" bind-html-compile="missingpeopleInst.case"></p>
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
