<section>
  <div class="page-header">
    <h1>Missing Person</h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.missingPeople.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.missingPeople.user" ng-bind="vm.missingPeople.user.displayName"></span>
      <span ng-if="!vm.missingPeople.user">Deleted User</span>
    </em>
  </small>

  <div class="row">
    <div class="col-md-2">
      <img ngf-src="vm.missingPeople.profileImageURL" alt="{{vm.missingpeople.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>

    </div>
    <div class="col-md-10">
      <h3 ng-bind="vm.missingPeople.title"></h3>
      <p class="lead" bind-html-compile="vm.missingPeople.content"></p>
    </div>
  </div>
</section>
