<section>
    <div class="page-header">
        <h1>Citizens Rights</h1>
    </div>
    <div>
        <p>The rights of citizens have been codified in the Law, and include the following</p>
        <ul>
            <li>In a case of cognizable offence, arrests will normally be made without warrant of arrest.</li>
            <li>When an arrest is made, the police officer apprehending the person will bear clear identification by way of name
                tags designation etc. Police may use force, if warranted, while making the arrest, however, will protect
                the dignity of the arrested person. For instance, there will be no public display or parading of the arrested
                persons(s).</li>
            <li>The Police officer, arresting the person will prepare a memo of the arrest, which will be got attested by a witness
                available at the site. Importantly, the arrested person will be granted access to contact his relatives and
                lawyers.</li>
            <li>When children and juveniles are required to be arrested, Police will bestow special care to avoid any force whatever.
                Further, one or more respectable citizens of the locality will be associated on such occasions to ensure
                that minimal coercion is employed and that they are not frightened.</li>
            <li>Women &amp; children below 15 years of age are entitled to refuse to go to the Police Station from their place
                of residence, if they are summoned from a Police Station.</li>
            <li>The arrested persons will be produced in the jurisdictional courts within 24 hours of the arrest. Further, interrogations
                of the accused will be in consonance with the recognized rights to life, dignity and protection against torture
                and degrading treatments.</li>
            <li>An arrested person remanded to the Police custody by the Court has to be examined by a government doctor and
                a Medical Certificate obtained. Articles, which are seized from the arrested person, will be produced before
                the court and the person could reclaim only under the orders of the court.</li>
        </ul>
    </div>
</section>