<section>
    <div class="page-header">
        <h1>Service at Police Statio</h1>
    </div>
    <div>
        <ul>
            <li>Registration and Investigation of all cognizable offences under various laws including the social legislation and issue of First Information Report (FIR) (copy of FIR will be given free of cost to the complainant).</li>
            <li>Receipt of miscellaneous complaints of non-cognizable offences, petty cases, petitions, etc and issue of acknowledgements (Form 76-A).</li>
            <li>Follow up of investigation including visit to scene of offence.</li>
            <li>Periodical information on progress of the investigation to the complainant (30 days, 60 days and 90 days).</li>
            <li>Filing of Final Reports /charge sheets in courts after completion of investigation of cases.</li>
            <li>Granting permission for using loudspeakers, use of public spaces for pandals, processions, dharnas etc. within that Police Station jurisdiction.</li>
            <li>Police Public Interface:
                <ul>
                    <li>Citizens Committee meetings</li>
                    <li>Peace Committee meetings</li>
                    <li>Mohalla Committee meetings</li>
                    <li>Visits and meetings in Harijan colonies</li>
                </ul>
            </li>
            <li>Preferably, complaints must be registered at the jurisdictional police station where the alleged offence took place. However, there is no bar on registering at any other Police Station; but the official transfer to the police station concerned might entail some delay.</li>
            <li>Station House Officer is the Police Inspector or Police Sub Inspector in charge of the Police Station.However in his/her absence, whoever is the senior most official not below the rank of Head Constable available at the Police Station assumes the duties and responsibilities of SHO.</li>
            <li>Courtesy and Reception at the Police Stations</li>
            <li>A seat in the reception area; drinking water and toilets facility</li>
            <li>Meeting with the SHO or his representative</li>
            <li>Hear with courtesy and consideration</li>
            <li>Provide information and clarifications to the public</li>
            <li>The SHO or any police official will visit the scene of the offence immediately</li>
        </ul>
    </div>
</section>