<section>
    <div class="page-header">
        <h1>Duties of Citizens</h1>
    </div>
    <div>
        <p>Every right goes with a corresponding obligation. Chikkamagaluru district Police seeks the help and cooperation of
            all citizens in its efforts to make the District&nbsp;crime-free, and socially and communally harmonious to facilitate
            a peaceful and enjoyable life for all citizens and visitors. Every citizen should know her/his jurisdictional
            Police Station and its telephone numbers. He/she should also:</p>
        <p>Inform the nearest Police Station or dial 100 to report on the perpetration of any of the following offences, falling
            within the ambit of the Indian Penal code:</p>
        <ul>
            <li>Against the State or citizens such as an act of terrorism</li>
            <li>Any suspicious activities in the neighborhood which may affect their safety and security</li>
            <li>Against the peace and tranquility of the city</li>
            <li>Against acts involving corruption, illegal gratification</li>
            <li>Against adulteration of food stuff and spurious drugs and medicines</li>
            <li>Against any person involved in murder, grievous injury, kidnapping, robbery, dacoity, theft, etc</li>
            <li>Against property, such as house trespass, lurking house trespass, mischief against property etc</li>
            <li>Against criminal breach of trust by public servants. ( It will be the endeavor of the Police to ensure the confidentiality
                of the informers and to afford to them full protection from any adverse sources)</li>
            <li>Citizens must cooperate in investigations at times of search and seizure, spot and inquest mahazar etc</li>
            <li>Citizens are encouraged to request for verification of antecedents of domestic helps before employing unknown
                persons.</li>
        </ul>
    </div>
</section>