<div class="row" id="content-aboutus">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" data-ui-sref="aboutus">
                   Aboutus 
                </a>
                    </div>


                </div>

            </div>

            <!-- Main Menu -->
            <!--<div class="side-menu-container ">
                <ul class="nav navbar-nav " ng-class="{ 'slide-in' : vm.isCollapsed} ">
                    <li class="active "><a data-ui-sref="aboutus.passport "><span class="fa fa-book "></span>Passport Aboutus</a></li>
                    <li ng-class="{ 'active': status.open20} "><a data-ui-sref="aboutus.sakala "><span class="fa fa-binoculars "></span>Sakala Aboutus</a></li>
                    <li><a data-ui-sref="aboutus.cc "><span class="fa fa-hand-stop-o "></span> Clearance Certificate</a></li>
                    <li><a data-ui-sref="aboutus.pvc "><span class="fa fa-edit "></span> Verification Certificate</a></li>
                    <li><a href="http://ksp.gov.in/fir.aspx " target="_blank "><span class="fa fa-mortar-board "></span> FIR Search</a></li>
                </ul>
            </div>-->

            <div class="side-menu-container ">
                <ul class="nav navbar-nav " ng-class="{ 'slide-in' : vm.isCollapsed} ">
                    <li ng-repeat="filter in vm.filters " ng-click="vm.select($index) " ng-class="{active: $index==v m.selected} ">
                        <a data-ui-sref="{{filter.href}} "><span class="fa fa-hand-stop-o "></span>{{filter.title}}</a>
                    </li>
                </ul>
            </div>


            <!-- /.navbar-collapse -->
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container-fluid ">
        <div class="side-body " ng-class="{ 'body-slide-in' : vm.isCollapsed} " ui-view>
            <!--<h1 class="page-header " id="glyphicons ">Aboutus</h1>-->

            <div class="bs-callout bs-callout-info " id="callout-glyphicons-location ">
                <h4>Our Mission</h4>
                <p>We, the members of Karnataka Police, shall uphold the Law and the Rights of all people for a safe and secure
                    environment, conducive to their internal and external growth and development. Towards this end, we set
                    for ourselves the following objectives:
                </p>
                <ul>
                    <li>Protect the lives and liberties of the people from criminal and anti- social elements.></li>
                    <li>Earn the good will, support and active assistance of the community.></li>
                    <li>Co-ordinate with other departments of Criminal Justice System.></li>
                    <li>Equal treatment regardless of caste, religion, social and economic status or political affiliations.></li>
                    <li>Due consideration for women, children, senior citizens and weaker sections. Improve professional knowledge,
                        skills and attitudes and adopt modern methods in police work.></li>
                    <li>Promote human rights and professional values of integrity, honesty and efficiency.></li>
                    <li>Accept and play our role in social transformation and bring about improvement in the quality of life
                        with society></li>
                </ul>
                
            </div>
            <!--<div class="bs-callout bs-callout-danger " id="callout-glyphicons-location ">
                <h4>Our Vision</h4>
                <ul>
                    <li>We strive to protect our diverse and dynamic community with fairness, integrity and respect for the rights
                        of the individua</li>
                    <li>We resolve to develop a creative, forward looking workforce, dedicated to raising our level of excellence
                        to meet the challenges of tomorrow.
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</div>