<section>
    <div class="page-header">
        <h1> Police Stations Details</h1>
    </div>
    <div class="list-group" id="section-Police-Station">


        <table class="table  table-bordered table-hover">
            <tbody>
                <tr class="success">
                    <th>DPOSDPO/CIRCLE/ PS/OP </th>
                    <th>NAME AND ADDRESS OF POLICE STATION </th>
                    <th>PHONE NUMBER</th>
                </tr>
                <tr>
                    <td> S.P BANGALORE DIST

                    </td>
                    <td>O/O SUPERINTENDENT OF POLICE, BENGALURU DIST., NO.5, OM MAHAL BUILDING, BASAVESHWARA ROAD, BENGALURU-560001
                    </td>
                    <td>080 22943073 <br/>080 22264350 </td>
                </tr>
                <tr>
                    <td>ADDL. S. P BANGALORE DIST. </td>
                    <td> O/O SUPERINTENDENT OF POLICE, BENGALURU DIST., NO.5, OM MAHAL BUILDING, BASAVESHWARA ROAD, BENGALURU-560001

                    </td>
                    <td> 080 22260603 <br/>080 22942404</td>
                </tr>
                <tr>
                    <td> S.P OFFICE BANGALORE DIST.
                    </td>
                    <td> O/O SUPERINTENDENT OF POLICE, BENGALURU DIST., NO.5, OM MAHAL BUILDING, BASAVESHWARA ROAD, BENGALURU-560001
                    </td>
                    <td> 080 22942832 <br/>080 22943604 <br/>080 22256111
                    </td>
                </tr>
                <tr>
                    <td> DY.S.P HOSAKOTE</td>
                    <td> DY.SUPDT. OF POLICE,HOSAKOTE S/D OLD MADRAS ROAD, HOSAKOTE TOWN, HOSAKOTE TALLUK, BENGALURU -562114
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>CPI HOSAKOTE </td>
                    <td> CIRCLE INSPECTOR, HOSAKOTE CIRCLE, OLD MADRAS ROAD, HOSAKOTE TOWN, HOSAKOTE TALLUK, BENGALURU -562114
                    </td>
                    <td> 080 27931570</td>
                </tr>
                <tr>
                    <td>HOSAKOTE PS </td>
                    <td> HOSAKOTE POLICE STATION, OLD MADRAS ROAD, HOSAKOTE TOWN, HOSAKOTE TALLUK, BENGALURU -562114
                    </td>
                    <td> 080 27931570</td>
                </tr>
                <tr>
                    <td> AVALAHALLI PS
                    </td>
                    <td> AVALAHALLI POLICE STATION, AVALAHALLI, VIRGO NAGARA POST, BIDARAHALLI HOBLI, BENGALURU EAST TALUK, BENGALURU
                        URBAN- 560049 </td>
                    <td> 080 28472500</td>
                </tr>
                <tr>
                    <td> CPI NANDAGUDI</td>
                    <td> CIRCLE INSPECTOR, NANDAGUDI CIRCLE, NANDAGUDI GRAMA, HOSAKOTE TALUK, BENGALURU -562122
                    </td>
                    <td> 080 27961668</td>
                </tr>
                <tr>
                    <td> NANDAGUDI PS</td>
                    <td> NANDAGUDI POLICE STATION, NANDAGUDI GRAMA, HOSAKOTE TALUK, BENGALURU -562122
                    </td>
                    <td> 080 27961250</td>
                </tr>
                <tr>
                    <td> SULIBELE PS</td>
                    <td> SULIBLE POLICE STATION, SULIBELE VILLAGE AND POST, SULIBELE HOBLI, HOSAKOTE TALUK, BENGALURU -560060
                    </td>
                    <td>080 27952415 </td>
                </tr>
                <tr>
                    <td> CPI T.S.HALLI</td>
                    <td> CIRCLE INSPECTOR, THIRUMASHETTI HALLI CIRCLE, THIRUMASHETTI HALLI GRAMA, SAMETHANAHALLI POST, VIA-KADUGODI,
                        HOSAKOTE TALUK, BENGALURU-560067 080 28549101
                    </td>
                    <td> 080 28549101</td>
                </tr>
                <tr>
                    <td> T.S.HALLI P S</td>
                    <td>THIRUMASHETTI HALLI POLICE STATION, THIRUMASHETTI HALLI GRAMA, SAMETHANAHALLI POST, VIA-KADUGODI, HOSAKOTE
                        TALUK, BENGALURU -560067
                    </td>
                    <td> 080 28549100</td>
                </tr>
                <tr>
                    <td> A.G.HALLI PS</td>
                    <td> ANUGONDANAHALLI POLICE STATION, ANUGONDANAHALLI HOBLI, DEVANAGUNDI POST, HOSAKOTE TALUK, BENGALURU -560067
                    </td>
                    <td> 080 27945777</td>
                </tr>
                <tr>
                    <td> DY.SP ANEKAL</td>
                    <td>NO PRESENT ADDRESS. PRESENT SITTING IN SURYANAGARA PS 080 22942612
                    </td>
                    <td>080 22264170 </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>