<section>
    <div class="page-header">
        <h1> Police Stations Details</h1>
    </div>
    <div class="list-group" id="section-Police-Station">


        <table class="table  table-bordered table-hover table-Police-Station">
            <tbody>
                <tr class="success">
                    <th>DPOSDPO/CIRCLE/ PS/OP </th>
                    <th>NAME AND ADDRESS OF POLICE STATION </th>
                    <th>PHONE NUMBER</th>
                </tr>
                <tr>
                    <td> S.P BANGALORE DIST

                    </td>
                    <td>O/O SUPERINTENDENT OF POLICE, <br />BENGALURU DIST., NO.5, OM MAHAL BUILDING, <br />BASAVESHWARA ROAD,
                        <br />BENGALURU-560001
                    </td>
                    <td>080 22943073 <br/>080 22264350 </td>
                </tr>
                <tr>
                    <td>ADDL. S. P BANGALORE DIST. </td>
                    <td> O/O SUPERINTENDENT OF POLICE, <br />BENGALURU DIST., NO.5, OM MAHAL BUILDING, <br />BASAVESHWARA ROAD,
                        <br />BENGALURU-560001

                    </td>
                    <td> 080 22260603 <br/>080 22942404</td>
                </tr>
                <tr>
                    <td> S.P OFFICE BANGALORE DIST.
                    </td>
                    <td> O/O SUPERINTENDENT OF POLICE, <br />BENGALURU DIST., NO.5, OM MAHAL BUILDING, <br />BASAVESHWARA ROAD,
                        <br />BENGALURU-560001
                    </td>
                    <td> 080 22942832 <br/>080 22943604 <br/>080 22256111
                    </td>
                </tr>
                <tr>
                    <td> DY.S.P HOSAKOTE</td>
                    <td> DY.SUPDT. OF POLICE,<br />HOSAKOTE S/D OLD MADRAS ROAD, <br />HOSAKOTE TOWN, HOSAKOTE TALLUK, <br />BENGALURU
                        -562114
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>CPI HOSAKOTE </td>
                    <td> CIRCLE INSPECTOR, <br />HOSAKOTE CIRCLE, OLD MADRAS ROAD, <br />HOSAKOTE TOWN, HOSAKOTE TALLUK, <br />BENGALURU
                        -562114
                    </td>
                    <td> 080 27931570</td>
                </tr>
                <tr>
                    <td>HOSAKOTE PS </td>
                    <td> HOSAKOTE POLICE STATION, <br />OLD MADRAS ROAD, <br />HOSAKOTE TOWN, HOSAKOTE TALLUK, <br />BENGALURU
                        -562114
                    </td>
                    <td> 080 27931570</td>
                </tr>
                <tr>
                    <td> AVALAHALLI PS
                    </td>
                    <td> AVALAHALLI POLICE STATION, <br />AVALAHALLI, VIRGO NAGARA POST, <br />BIDARAHALLI HOBLI, BENGALURU EAST
                        TALUK, <br />BENGALURU URBAN- 560049 </td>
                    <td> 080 28472500</td>
                </tr>
                <tr>
                    <td> CPI NANDAGUDI</td>
                    <td> CIRCLE INSPECTOR, <br />NANDAGUDI CIRCLE, <br />NANDAGUDI GRAMA, <br />HOSAKOTE TALUK, <br />BENGALURU
                        -562122
                    </td>
                    <td> 080 27961668</td>
                </tr>
                <tr>
                    <td> NANDAGUDI PS</td>
                    <td> NANDAGUDI POLICE STATION, <br />NANDAGUDI GRAMA, <br />HOSAKOTE TALUK, <br />BENGALURU -562122
                    </td>
                    <td> 080 27961250</td>
                </tr>
                <tr>
                    <td> SULIBELE PS</td>
                    <td> SULIBLE POLICE STATION, <br />SULIBELE VILLAGE AND POST, <br />SULIBELE HOBLI, HOSAKOTE TALUK, <br />BENGALURU
                        -560060
                    </td>
                    <td>080 27952415 </td>
                </tr>
                <tr>
                    <td> CPI T.S.HALLI</td>
                    <td> CIRCLE INSPECTOR, <br />THIRUMASHETTI HALLI CIRCLE, <br />THIRUMASHETTI HALLI GRAMA, <br />SAMETHANAHALLI
                        POST, VIA-KADUGODI,
                        <br />HOSAKOTE TALUK, <br />BENGALURU-560067 080 28549101
                    </td>
                    <td> 080 28549101</td>
                </tr>
                <tr>
                    <td> T.S.HALLI P S</td>
                    <td>THIRUMASHETTI HALLI POLICE STATION, <br />THIRUMASHETTI HALLI GRAMA, <br />SAMETHANAHALLI POST, VIA-KADUGODI,
                        <br />HOSAKOTE TALUK, <br />BENGALURU -560067
                    </td>
                    <td> 080 28549100</td>
                </tr>
                <tr>
                    <td> A.G.HALLI PS</td>
                    <td> ANUGONDANAHALLI POLICE STATION, <br />ANUGONDANAHALLI HOBLI, <br />DEVANAGUNDI POST, <br />HOSAKOTE TALUK,
                        <br />BENGALURU -560067
                    </td>
                    <td> 080 27945777</td>
                </tr>
                <tr>
                    <td> DY.SP ANEKAL</td>
                    <td>NO PRESENT ADDRESS. <br />PRESENT SITTING IN SURYANAGARA PS
                    </td>
                    <td>080 22264170 <br />080 22942612</td>
                </tr>

                <tr>
                    <td> CPI ANEKAL
                    </td>
                    <td> CIRCLE INSPECTOR, <br />ANEKAL CIRCLE,<br /> ANEKAL TOWN AND TALUK, <br />NEAR ANEKAL BUSTAND, <br />BENGALURU
                        URBAN - 5600106 </td>
                    <td> 080 27859335</td>
                </tr>

                <tr>
                    <td> ANEKAL PS
                    </td>
                    <td>ANEKAL POLICE STATION,<br /> ANEKAL TOWN AND TALUK, <br />NEAR ANEKAL BUSTAND, <br />BENGALURU URBAN
                        - 5600106 </td>
                    <td> 080 27859235</td>
                </tr>
                <tr>
                    <td> BANNERGATTA PS
                    </td>
                    <td> BANNERGATTA POLICE STATION,<br /> BANNERGATTA GRAMA, <br />ANEKAL TALUK, <br />BENGALURU URBAN-560083
                        </td>
                    <td> 080 27828595</td>
                </tr>
                <tr>
                    <td> ATTIBELE CIRCLE </td>
                    <td>ATTIBELE POLICE STATION, <br />ATTIBELE GRAMA AND HOBLI, <br />ANEKAL TALUK, <br />BENGALURU URBAN- 5600107
                        </td>
                    <td> 080 27821368</td>
                </tr>
                <tr>
                    <td> ATTIBELE PS </td>
                    <td> CIRCLE INSPECTOR, <br />ATTIBELE IRCLE, <br /> ATTIBELE GRAMA AND HOBLI, <br />ANEKAL TALUK, <br />BENGALURU
                        URBAN- 5600107
                    </td>
                    <td> 080 27821360</td>
                </tr>
                <tr>
                    <td> HEBBAGODI PS </td>
                    <td> HEBBAGODI POLICE STATION, <br /> BOMMASANDRA POST, <br /> HEBBAGODI GRAMA, <br /> ATTIBELE HOBLI, <br /> ANEKAL TALUK, <br /> BENGALURU
                        URBAN- 560099
                    </td>
                    <td> 080 27832922</td>
                </tr>
                <tr>
                    <td> SARJAPURA PS </td>
                    <td> SARJAPAURA POLICE STATION, <br /> SARJAPURA GRAMA AND HOBLI, <br /> ANEKAL TALUK, <br /> BENGALURU URBAN- 562125
                    </td>
                    <td> 080 27823032</td>
                </tr>
                <tr>
                    <td> JIGANI PS </td>
                    <td> JIGANI POLICE STATION, <br /> SANTHE MAIDHANA, <br /> JIGANI MAIN ROAD, <br /> JIGANI TOWN, <br /> ANEKAL TALU, <br /> BENGALURU URBAN-
                        560105
                    </td>
                    <td> 080 27825108</td>
                </tr>
                <tr>
                    <td> SURYANAGARA </td>
                    <td> SURYANAGARA POLICE STATION, <br /> SURYACITY LAY OUT, <br /> CHANDAPURA CIRCLE, <br /> ATTIBELE HOBLI, <br /> ANEKAL TALUK, <br /> BENGALURU
                        SOUTH-560099

                    </td>
                    <td> 080 29765300</td>
                </tr>
                <tr>
                    <td> DODDABALLAPURA SUB DIVISION </td>
                    <td> DODDABALLAPURA SUB DIVISION OFFICE,<br />  NEAR D.CROSS, <br /> DODDABALLAPURA TOWN AND TALUK, <br /> BENGALURU -561203
                    </td>
                    <td> 080 27622052</td>
                </tr>
                <tr>
                    <td> CPI D.B.PURA </td>
                    <td> CIRCLE INSPECTOR,<br /> DODDABALLAPURACIRCLE,<br />  NEAR DAIRY CIRCLE,<br />  DODDABALLAPURA TOWN,<br />  DODDABALLAPURA TALUK,<br /> 
                        BENGALURU -561203
                    </td>
                    <td>080 27622025 </td>
                </tr>
                <tr>
                    <td> D.B.PURA TOWN PS </td>
                    <td> DODDABALLAPURA TOWN POLICE STATION,<br />  NEAR D.CROSS,<br />  DODDABALLAPURA TOWN AND TALUK,<br />  BENGALURU -561203
                    </td>
                    <td> 080 27622015</td>
                </tr>
                <tr>
                    <td> D.B.PURA PS </td>
                    <td> DODDABALLAPURA POLICE STATION,<br />  NEAR DAIRY CIRCLE,<br />  DODDABALLAPURA TOWN,<br />  DODDABALLAPURA TALUK,<br />  BENGALURU
                        -561203
                    </td>
                    <td> 080 27622025</td>
                </tr>
                <tr>
                    <td> WOMEN P S D.B.PURA </td>
                    <td>
                        WOMEN POLICE STATION,<br />  KONGADIYAPPA ROAD,<br />  DODDABALLAPURA TOWN AND TALUK,<br />  BENGALURU -561203
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>HOSAHALLI PS </td>
                    <td> HOSAHALLI POLICE STATION,<br />  HOSAHALLI VILLAGE,<br />  SASALU HOBLI,<br />  DODDABALLAPUR TALUK,<br />  BENGALURU -561204
                    </td>
                    <td> 080 27656008</td>
                </tr>
                <tr>
                    <td> DODDABELAVANGALA PS </td>
                    <td> DODDABELAVANGALA POLICE STATION,<br />  DODDABELAVANGALA GRAMA,<br />  DODDABALLAPURA TALUK BENGALURU -561203
                    </td>
                    <td> 080 27655241</td>
                </tr>
                <tr>
                    <td> RAJANAKUNTE </td>
                    <td> RAJANAKUNTE POLICE STAITON VIA YELAHANKA,<br />  D.B.PURA ROAD,<br />  SH-9,<br />  NEAR GRAMAPANCHAYATH OFFICE,<br />  BENGALURU
                        NORTH-560064
                    </td>
                    <td> 080 28468936</td>
                </tr>
                <tr>
                    <td> CPI VIJAYAPURA </td>
                    <td> CIRCLE INSPECTOR,<br />  VIJAYAPURA CIRCLE,<br />  VIJAYAPURA TOWN,<br />  DEVANAHALLI TALUK,<br />  BENGALURU -562135
                    </td>
                    <td> 080 27665444</td>
                </tr>
                <tr>
                    <td> VIJAYAPURA PS </td>
                    <td> VIJAYAPURA POLICE STATION,<br />  VIJAYAPURA TOWN,<br />  NEAR VIJAYAPURA BUS STAND,<br />  DEVANAHALLI TALUK,<br />  BENGALURU -562135
                    </td>
                    <td> 080 27668444</td>
                </tr>
                <tr>
                    <td> VISHWANATHPURA PS </td>
                    <td> VISHWANATHAPURA POLICE STATION,<br />  NEAR CHAPPARADA KALLU CIRCLE,<br />  ARADESHANAHALLI POST,<br />  DEVANAHALLI TALUK,<br /> 
                        BENGALURU - 562110
                    </td>
                    <td> 080 27647399</td>
                </tr>
                <tr>
                    <td> C.R.PATNA PS </td>
                    <td> CHANNARAYAPATTANA POLICE STATION,<br />  CHANNARAYAPATTANA HOBLI AND GRAMA,<br />  DEVANA HALLI TALUK,<br />  BENGALURU -
                        562135
                    </td>
                    <td> 080 27644444</td>
                </tr>
                <tr>
                    <td> DSP NELAMANGALA </td>
                    <td> DSP NELAMANGALA S/D,<br />  NEAR SONDEKOPPA CIRCLE NELMANGALA TOWN AND TALUK,<br />  BENGALURU -562123
                    </td>
                    <td> 080 27722688</td>
                </tr>
                <tr>
                    <td> CPI NELAMANGALA </td>
                    <td>CIRCLE INSPECTOR,<br />  NELAMANGALA CIRCLE,<br />  NELMANGALA TOWN AND TALUK,<br />  BENGALURU -562123
                    </td>
                    <td> 080 27726260</td>
                </tr>
                <tr>
                    <td> NELAMANGALA TOWN PS </td>
                    <td> NELAMANGALA TOWN POLICE STATION,<br />  NELMANGALA TOWN AND TALUK,<br />  BENGALURU -562123
                    </td>
                    <td> 080 27722133</td>
                </tr>
                <tr>
                    <td> NELAMANGALA PS </td>
                    <td> NELAMANGALA POLICE STATION,<br />  ARISHINAKUNTE,<br />  KASABA HOBLI,<br />  NELAMANGALA TALUK,<br />  BENGALURU -562123
                    </td>
                    <td> 080 27728223</td>
                </tr>
                <tr>
                    <td> TRAFFIC POLICE STATION </td>
                    <td> NEAR SONDEKOPPA CIRCLE,<br />  NELAMANGALA,<br />  BENGALURU DIST-562123 </td>
                    <td> 080 27722134</td>
                </tr>
                <tr>
                    <td> MADANAYAKANAHALLI PS </td>
                    <td> MADANAYAKANA HALLI POLICE STATION,<br />  MADANAYAKAHALLI GRAMA,<br />  NELAMANGALA TALUK,<br />  BENGALURU -562123
                    </td>
                    <td> 080 23713699</td>
                </tr>
                <tr>
                    <td> DOBBESPETE PS</td>
                    <td> DOBBASPETE POLICE STATION,<br />  SOMPURA HOBLI,<br />  NELAMANGALA TALUK,<br />  BENGALURU -562111
                    </td>
                    <td> 080 27734231</td>
                </tr>
                <tr>
                    <td> THYAMAGONDLU PS </td>
                    <td> THYAMAGONDLU POLICE STATION,<br />  THYAMAGONDLU HOBLI,<br />  NELAMANGALA TALUK,<br />  BENGALURU -562111
                    </td>
                    <td> 080 27732033</td>
                </tr>


            </tbody>
        </table>

    </div>
</section>