<h1> Police Verification Certificate (PVC) </h1>
<div class="module-inner">
    <div class="module-inner2">




        <h3 style="text-align: justify; visibility: visible;"><span>How</span> to get Police Verification Certificate (PVC)</h3>
        <h3 style="text-align: justify; visibility: visible;"><span style="font-size: small;"><span style="color: #0000ff;">Instructions</span></span>
        </h3>
        <ul style="list-style-type: lower-roman; text-align: justify;">
            <li><span style="font-size: small;">Indian Nationals can apply for PVC at single window counter at Office of the Superintendent of Police, Ashoka Nagar, Tumakuru - 572 102.</span></li>
            <li><span style="font-size: small;">The applicants can apply in personal/online by filling his/her personal particulars in the prescribed form along with documents</span></li>
            <li><span style="font-size: small;">The applicants must furnish address proof documents for a minimum period of one year from the date of application.</span></li>
            <li><span style="font-size: small;">If the applicant has resided in different addresses within the period of one year, then he/she should furnish all address proofs</span></li>
            <li><span style="font-size: small;">The applicant should give the police station name correctly</span></li>
            <li><span style="font-size: small;">If the applicant is not residing in Tumakuru District limits continuously for one year., then he/she has to enclose the police verification certificate issued from the jurisdictional Police Commissioner/Superintendent of Police of the respected state along with the application.</span></li>
            <li><span style="font-size: small;">The Private Companies/Corporate Companies/Educational Institutions can approach this office for their employees verification certificates along with the application form, list of employees, requisition letter and specified fees..</span></li>
        </ul>
        <h3 style="text-align: justify; visibility: visible;"><span>(CAUTION</span> TO PUBLIC)</h3>
        <ul class="dt-sc-fancy-list" style="text-align: justify;">
            <li><span style="font-size: small;">Please do not approach agents/agencies who claim to offer to get the police verification done.</span></li>
            <li><span style="font-size: small;">The process of issuing PCC/PVC is done exclusively by Police department only.</span></li>
            <li><span style="font-size: small;">Agencies claiming to do verification/background verification are not acceptable.</span></li>
        </ul>
        <table style="text-align: justify;" border="0">
            <thead>
                <tr>
                    <th>
                        <h3 style="visibility: visible;"><span>Work</span> Flow Chart For PCC</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Receive of Application</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Upload the Application in to the Police IT</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Applicant will recieve SMS</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">On receiving SMS process of verification by juridiction Police Station</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">After the verification process juridiction police station upload the data with their Recommendatory/Not Recommendatory remarks in to the Police IT</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">On receipt of the report from juridictional police station Your PVC/PCC will be printed and issued</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">As per Karnataka Guarantee of services to citizens act this entire above process will be executed in the 21 days</span></td>
                </tr>
            </tbody>
        </table>
        <div class="dt-sc-tabs-frame-content" style="display: none; text-align: justify;">
            <p>As per Karnataka State Government Order No.OE/379/PMS/2014, dated:14-07-2014. The Family members of the applicant
                can apply for the police clearance certificate on behalf of the applicant, by requesting the SP along with
                Rs.200/- challan for each address paid at Tumakuru City.</p>
            <h3 style="visibility: visible;"><span>Documents</span> Required</h3>
            <table border="0">
                <thead>
                    <tr>
                        <th>Description of Documents for Students</th>
                        <th>Description of Documents for Employee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Passport copy</td>
                        <td>Passport copy</td>
                    </tr>
                    <tr>
                        <td>Visa Page Copy</td>
                        <td>Visa Page Copy</td>
                    </tr>
                    <tr>
                        <td>Residential address proof</td>
                        <td>Residential address proof</td>
                    </tr>
                    <tr>
                        <td>If studying abroad Bonafide certificate from the school</td>
                        <td>Letter from the company HR/Admin Dept.</td>
                    </tr>
                    <tr>
                        <td>Authorisation letter</td>
                        <td>Authorisation letter</td>
                    </tr>
                    <tr>
                        <td>Copy of the stamp of Departure date</td>
                        <td>Copy of the stamp of Departure date</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>