<h1> Passport Services Procedure at Glance </h1>
<div class="module-inner">
    <div class="module-inner2">




        <div class="dt-sc-one-column">
            <h4 class="dt-sc-titled-box-title" style="padding-top: 12px; padding-right: 17px; padding-bottom: 12px; text-align: justify; background: #FDF6B2;"><span style="font-size: small;"><strong> To check your passport application status </strong> <a href="http://passportindia.gov.in/AppOnlineProject/statusTracker/trackStatusInpNew" target="_blank" style="color:RED;">Click here </a></span></h4>
        </div>
        <div class="dt-sc-toggle-frame-set">
            <div class="dt-sc-toggle-frame">
                <h5 class="dt-sc-toggle-accordion active"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;"> Requirement of a Passport </span></span>
                </h5>
                <p style="text-align: justify;"><span style="font-size: small;"> All Indian citizens who depart or intend to depart from India are required to be in possession of a valid passport or travel document. Under the Passports Act 1967, the Government of India may issue different types of passports and travel documents such as Ordinary Passport, Diplomatic Passport, Official Passport, Emergency Certificate and Certificate of Identity for the purpose. </span></p>
            </div>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;">
<hr>
<span style="color: #ff0000;">Passport Application: Basic Requirements</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">The prescribed passport application duly filled in should be with all prescribed documents and fees. Merely submission of an application, however, does not constitute a claim for issue of a passport. It remains a request/requisition for a passport, which may be rejected due to deficiency in the supporting documents, not following the prescribed procedures or any other reason. <strong>The basic supporting documents required with passport application </strong>include:</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Passport Issuing Authorities</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">The Ministry of External Affairs, Government of India provides passport services through Central Passport Organisation (CPO) and its network of Passport Offices and Passport Seva Kendras (PSKs); and consular, passport and visa services to overseas Indians/foreign nationals through the Indian Missions and Posts abroad. </span></p>
            <p style="text-align: justify;"><span style="font-size: small;">Indian passports are issued through a network of <strong>37 Passport Offices, CPV Division (only for Diplomatic and Official passports) and the Andaman and Nicobar Islands Administration.</strong> This network has been expanded by addition of <strong>77 Passport Seva Kendras</strong> as extended arms of Passport Offices. For Indians living abroad, passport and other miscellaneous services are rendered by <strong>180 Indian Missions/Posts</strong>.<br> </span></p>
            <p style="text-align: justify;"><span style="font-size: small;">An applicant may confirm the jurisdiction of Regional Passport Office and Passport Seva Kendra (PSK) before submitting an application.</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Procedures</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">Under Passport Seva, new measures and procedures have been introduced in order to improve governance in Passport Offices. The new measures and procedures are aimed at ensuring citizens' comfort, improvement in delivery of passport services, transparency and enhanced security.<strong> Applicants are now required to present themselves at the respective Passport Seva Kendra (PSK) for enabling the Passport Issuing Authority to obtain applicants' photographs, biometrics and granting decision in their presence.</strong></span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Online Registration and Appointment</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">The Online Appointment system has been introduced to ensure avoiding congestion at the Passport Seva Kendras (PSKs) and cutting down the waiting time for applicants. Appointments are allotted according to handling capacity of a Passport Seva Kendra (PSK) and are based on an Electronic Queue Management System. </span></p>
            <p style="text-align: justify;"><span style="font-size: small;">The following steps are involved in applying for a passport: <strong>online registration, filling up and submitting online application form,</strong> (alternatively, download e-form, fill up and upload the same at the Online Portal),<strong> scheduling an appointment</strong> and finally, the <strong>visiting a Passport Seva Kendra (PSK)</strong>.                                             <br><strong> </strong></span></p>
            <p style="text-align: justify;"><span style="font-size: small;"><strong>Tip:</strong> For fast login,&nbsp;use URL - http://passportindia.gov.in/AppOnlineProject/user/userLogin</span></p>
        </div>
        <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Online Fee Payment</span></span>
        </h5>
        <p style="text-align: justify;"><span style="font-size: small;">Online Payment has been made mandatory for booking appointment to visit a Passport Seva Kendra (PSK). Online Payment can be made through any one of the following modes: <strong>Credit/Debit Card (MasterCard and Visa), Internet Banking (State Bank of India (SBI) and Associate Banks only) and SBI Bank Challan.</strong> Applicants applying under Tatkaal service need to pay only the fee as applicable under the Normal service while making Online Payment. The balance fee as applicable for Tatkaal will be payable in cash at Passport Seva Kendra (PSK)/Passport Office, once Tatkaal application is accepted by Officials. </span></p>
        <p style="text-align: justify;"><span style="font-size: small;"><strong>Online Payment will remain valid for one year from the first appointment date.</strong> The fee will be forfeited if applicants do not submit application at Passport Seva Kendra (PSK) within this period. No claim for refund, return or exchange of fee will be entertained for passport-related services. In case of multiple payments for the same Application Reference Number (ARN), for Passport-related services including miscellaneous services, the claims for refund will be dealt with as per the extant policy governing them. </span></p>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Canceling / Rescheduling a Visit</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">Applicants with confirmed appointments and if unable to visit Passport Seva Kendra (PSK) due to some reason, are advised to reschedule/cancel their appointments. <strong>Appointment rescheduling/cancellation for an application are allowed up to two times only</strong> within a year of the first appointment date.</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Visit to a Passport Seva Kendra (PSK)</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;"><strong>Visit the Passport Seva Kendra (PSK) with requisite original documents and their photocopies. Photograph is not required.</strong> The list of requisite documents is available at the website. Applicants who, despite booked appointment, have been 'refused token' due to non-availability of required set of documents can revisit the same Passport Seva Kendra (PSK) as 'Walk-in' within next three working days from the date of appointment and as per the time mentioned in the appointment slip. Online appointment is not mandatory for these applicants.</span></p>
            <p style="text-align: justify;"><span style="font-size: small;">The Passport Seva Kendra (PSK) provides a world class ambience. <strong>Amenities</strong> in every Passport Seva Kendra (PSK) include helpful executives, information kiosks, photocopying, food and beverage facilities, public phone booth, baby care, newspapers, journals and television in a comfortable air-conditioned waiting hall. The Electronic Queue Management System ensures the <strong>'first-in-first-out' principle</strong> in application processing.</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Walk-in Applicants</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">In order to facilitate submission of passport applications at Passport Seva Kendras (PSKs), some types of services such as <strong>'Tatkaal'</strong>, Police Clearance Certificates and some distinct categories of applicants such as senior citizens, minors and differently-abled applicants are allowed to submit their duly registered online applications with ARN as Walk-in applicants. Applicants coming under these categories are also required to submit their applications online and obtain an ARN, and then visit the nearest Passport Seva Kendra (PSK) during prescribed hours (no prior appointment is required). In addition, applicants should also refer to any advisory issued by the concerned Passport Offices from time to time.</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;">
<hr>
<span style="color: #ff0000;">Say No to Touts</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">The public is advised to desist from dealing with touts/agents who may be making false promises about arranging urgent appointment or faster passport service delivery. The Government has not authorised any intermediary/representative to undertake such activity or to give such assurances. Such incidents may be reported to the concerned Regional Passport Office.</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion"><span style="font-size: small;"> 
<hr>
<span style="color: #ff0000;">Passport Applicants: General Obligations</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">Statutorily, all <strong>passport applicants are required to submit their applications with correct information and valid and genuine documents.</strong> As per provisions of the Passports Act, 1967, an applicant should not furnish any false information or suppress any material information with a view to obtain passport or travel document.<strong> Any such action shall be punishable with imprisonment for a term up to two years or fine up to Rs. 5000/-; or both.</strong></span></p>
            <p style="text-align: justify;"><span style="font-size: small;">Carrying corrosive substances or explosives, arms, cudgels, sticks or lathis, or any sharp objects, which may cause physical harm or violence, is prohibited inside the Passport Seva Kendra (PSK). Carrying electronic devices such as Laptop, iPad and cameras, is also prohibited inside the Passport Seva Kendra (PSK).</span></p>
        </div>
        <div class="dt-sc-toggle-frame">
            <h5 class="dt-sc-toggle-accordion" style="text-align: justify;"><span style="font-size: small;">
<hr>
<span style="color: #ff0000;">Easy to Track Application Status</span></span>
            </h5>
            <p style="text-align: justify;"><span style="font-size: small;">A multi-lingual <strong>National Call Centre</strong> operating in 17 Indian languages enables citizens to obtain passport service-related information and receive updates on their passport applications, round the clock, seven days a week. <strong>An e-mail based helpdesk </strong>besides a mobile based application <strong>'mPassport Seva'</strong>, provides information on passport services.</span></p>
        </div>


    </div>
</div>