<h1> Police Clearance Certificate for Various Purposes </h1>
<div class="module-inner">
    <div class="module-inner2">
        <h3 style="text-align: justify; visibility: visible;"><span>How</span> to get Police Clearance Certificate (PCC)?</h3>
        <p style="text-align: justify;"><strong><span style="color: #ff0000;"><span style="font-size: small;">PCCs are required for various purposes. Depending upon what application you are filing, and to which country, you may need one or both types of PCCs.</span></span></strong></p>
        <p style="text-align: justify;"><span style="font-size: small;"><strong>Type 1:</strong> Regional Passport Office - PCC: This is a clearance that the Passport Seva Kendra (PSK) gives you, and you need to apply through the PSK office. This is issued as a stamp in your passport and an accompanying letter stating that there is nothing adverse against you in police records.</span></p>
        <p style="text-align: justify;"><span style="font-size: small;"><strong>Type 2:</strong> Commissioner of Police: This is a clearance issued from the office of the Commissioner of Police, Bangalore City Police. This is to state that there is nothing adverse against you and you don't have/had any legal issues pending against you.</span></p>
        <h2 style="text-align: justify; visibility: visible;"><span>Step</span> Involved</h2>
        <table style="text-align: justify; width: 100%;" border="0" cellspacing="1" cellpadding="3" align="center">
            <thead>
                <tr>
                    <th style="width: 45%;"><span style="font-size: small;"><span style="color: #ff0000;">Regional Passport Office – Type 1</span></span>
                    </th>
                    <th> </th>
                    <th style="width: 45%;"><span style="font-size: small;"><span style="color: #ff0000;"><span style="font-size: small;">Police SP's office – Type 2</span></span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><span style="font-size: small;">Register as a user at http://www.passportindia.gov.in</span></p>
                        <p><span style="font-size: small;"> When you register make sure to selct the right PSK for your address </span></p>
                    </td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">Obtain a form from the SP office and fill it. </span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Apply online. Provide correct details. Know your police station</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td>
                        <p><span style="font-size: small;">Pay the fees, and obtain a challan.</span></p>
                        <p><span style="font-size: small;">(At any one of the Banglore One counters)</span></p>
                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Print application reference no.(ARN).</span></td>
                    <td style="width: 30px;"><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">Submit the form along with challan, address proof, 3 photos at the Commissioner's Office.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">You don't have to book any appointment at PSK.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">The form will ce processed at the Commissioner's Office.</span></td>
                </tr>
                <tr>
                    <td>
                        <p><span style="font-size: small;">For address proof-Passport,Passport copy,Proof of Present Address. </span></p>
                    </td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">From there, it will get forwarded to your local police station.</span></td>
                </tr>
                <tr>
                    <td>
                        <p><span style="font-size: small;">The following link lists other documents that can be submitted.</span></p>
                        <p><span style="font-size: small;">http://www.passportindia.gov.in/AppOnlineProject/docAdvisor/pcc</span></p>
                    </td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">Officers from your police station will call you visit your residence for verification.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">AT PSK if all the documents are in order,they will provide you a token no.and send you inside for further process.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">You will need to keep the following ready when the police visit for verification.Police will recor you statement and take signature on the verification form.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Once the document submission is completed,police verification will be intiated immediately.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">Once this verification is completed, the police station wil send the paper back to the Commissioner's Office with remarks.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Copy of all the documents that you submitted at PSK may be submitted for police verification along with 2 passport photos and additional proofs.If the documents are in order,you will be asked to fill in some application and sign during police verification.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">Once the documents from local police are recieved your file will be processed  and Police Clearance Certificate will be printed and kept ready for despatch.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">The police after the above process will forword it to commissioner's office.From there it will be forworded to passport office.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">You can collect PCC.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Upon receiving the verification details from commissioner's office,passport office will SMS/E-mail you to collect the PCC.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;"> </span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Bring original passport with you to collect PCC.</span></td>
                    <td><span style="font-size: small;"> </span></td>
                    <td><span style="font-size: small;">If you need 2 copies, you can submit 2 forms, make payments for each of the forms.</span></td>
                </tr>
            </tbody>
        </table>
        <p><span style="font-size: small;"> </span></p>
        <hr>
        <p><span style="color: #ff0000;"><strong>(CAUTION TO PUBLIC)</strong></span></p>
        <ul class="dt-sc-fancy-list" style="margin-top: 15px; text-align: justify;">
            <li><span style="font-size: small;">Please do not approach agents/agencies who claim to offer to get the police verification done.</span></li>
            <li><span style="font-size: small;">The process of issuing PCC/PVC is done exclusively by Police department only.</span></li>
            <li><span style="font-size: small;">Agencies claiming to do verification/background verification are not acceptable.</span></li>
        </ul>
        <p><span style="font-size: x-small;"> </span></p>
        <hr>
        <p><span style="font-size: small; color: #ff0000; line-height: 1.3em;"><strong>Work Flow Chart For PVC</strong></span></p>
        <table style="text-align: justify; width: 100%;" border="0" cellspacing="1" cellpadding="3" align="center">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Receive of Application</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Upload the Application in to the Police IT</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Applicant will recieve SMS</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">On receiving SMS process of verification by jurisdiction Police Station</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">After the verification process jurisdiction police station upload the data with their Recommendatory/Not Recommendatory remarks in to the Police IT</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">On receipt of the report from jurisdictional police station Your PVC/PCC will be printed and issued</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">As per Karnataka Guarantee of services to citizens act this entire above process will be executed in the 21 days</span></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p><strong><span style="font-size: small;"><span style="color: #ff0000;"><span style="font-size: medium;"><span style="color: #0000ff;">PCC for Indian National Staying at Abroad</span></span></span></span></strong></p>
        <p><span style="font-size: small;">As per Karnataka State Government Order No.OE/379/PMS/2014, dated:14-07-2014. The Family members of the applicant can apply for the police clearance certificate on behalf of the applicant, by requesting the SP along with Rs.200/- challan for each address paid at Tumakuru City.</span></p>
        <h3 style="visibility: visible;"><span>Documents</span> Required</h3>
        <table style="width: 100%;" border="0" cellspacing="1" cellpadding="3" align="center">
            <thead>
                <tr style="text-align: left;">
                    <th><span style="font-size: small;"><span style="color: #0000ff;">Description of Documents for Students</span></span>
                    </th>
                    <th style="width: 30px;"> </th>
                    <th><span style="font-size: small;"><span style="color: #0000ff;">Description of Documents for Employee</span></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Passport copy</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Passport copy</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Visa Page Copy</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Visa Page Copy</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Residential address proof</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Residential address proof</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">If studying abroad Bonafide certificate from the school</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Letter from the company HR/Admin Dept.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Authorisation letter</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Authorisation letter</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Copy of the stamp of Departure date</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Copy of the stamp of Departure date</span></td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%;" border="0" align="center">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: left;"><span style="font-size: small;"><span style="color: #ff0000;">Procedures</span></span>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Submit Application in Commissioner of Police Office</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">COP will call for report from juridiction police</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Verification at local Police Station.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Local Police will send report to Commissioner of Police</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Commissioner of Police will send report to ADGP Intelligence</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">ADGP Intelligence will send to Home departement Room No.223</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Home department will issue Certificate after processing the file</span></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p><strong><span style="font-size: small;"><span style="color: #ff0000;"><span style="font-size: medium;"><span style="color: #0000ff;">PCC for a Foreigner Staying in Tumakuru (INDIA)</span></span></span></span></strong></p>
        <p><span style="font-size: small;">As per Karnataka State Government Order No.OE/379/PMS/2014, dated:14-07-2014. A foreigner staying/working/studying in Tumakuru (INDIA) can apply for Police Clearance Certificate by requesting the Superintendent of Police along with Rs.200/- challan for each address paid at Tumakuru City.</span></p>
        <h3 style="visibility: visible;"><span>Documents</span> Required</h3>
        <table style="width: 100%;" border="0" align="center">
            <thead>
                <tr style="text-align: left;">
                    <th><span style="font-size: small;"><span style="color: #0000ff;">Description of Documents for Students</span></span>
                    </th>
                    <th style="width: 30px;"><span style="color: #0000ff;"> </span></th>
                    <th><span style="font-size: small;"><span style="color: #0000ff;">Description of Documents for Employee</span></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Bonafide certificate from the school / College</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Company letter on the letter head</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Passport copy</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Passport copy</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Visa Page Copy</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Visa Page Copy</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Residential Permit</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Residential Permit</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Lease/Rent agreement</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Lease/Rent agreement</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Written application address to SP</span></td>
                    <td></td>
                    <td><span style="font-size: small;">Written application address to SP</span></td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%;" border="0" align="center">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: left;"><span style="font-size: small;"><span style="color: #ff0000;">PVC FOR FOREIGNERS STAYING IN TUMAKURU</span></span>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size: small;">Submit Application in Commissioner of Police Office</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">COP will call for report from juridiction police</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Verification at local Police Station.</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Local Police will send report to Commissioner of Police</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Commissioner of Police will send report to ADGP Intelligence</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">ADGP Intelligence will send to Home department Room No.223</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: small;">Home department will issue Certificate after processing the file</span></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>