<section>
    <div class="page-header">
        <h1>
            Gallery
            <a class="btn btn-primary pull-right" data-ui-sref="admin.gallery.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
        </h1>
    </div>
    <div class="row">
        <a data-ng-repeat="gallery in vm.gallery" data-ui-sref="admin.gallery.edit({galleryId: gallery._id})" class="col-md-3">
            <!--<small class="list-group-item-text">
        Posted on
        <span data-ng-bind="gallery.created | date:'mediumDate'"></span>
        by
        <span ng-if="gallery.user" ng-bind="gallery.user.displayName"></span>
        <span ng-if="!gallery.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="gallery.title"></h4>
      <p class="list-group-item-text" bind-html-compile="gallery.content"></p>-->
            <div class="form-group text-center">
                <img ngf-src="'/' + gallery.imageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="gallery.$resolved && !gallery.length">
        No gallery yet, why don't you <a data-ui-sref="admin.gallery.create">create one</a>?
    </div>
</section>