<section>
  <div class="page-header">
    <h1>
      Missing People
      <a class="btn btn-primary pull-right" data-ui-sref="admin.missingpeople.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="missingpeopleInst in vm.missingpeople" data-ui-sref="admin.missingpeople.edit({mPeopleId: missingpeopleInst._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="missingpeopleInst.created | date:'mediumDate'"></span>
        by
        <span ng-if="missingpeopleInst.user" ng-bind="missingpeopleInst.user.displayName"></span>
        <span ng-if="!missingpeopleInst.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="missingpeopleInst.title"></h4>
      <p class="list-group-item-text" bind-html-compile="missingpeopleInst.case"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.missingpeople.$resolved && !vm.missingpeople.length">
    No missing people yet, why don't you <a data-ui-sref="admin.missingpeople.create">create one</a>?
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
